[2014-02-09 18:14] theopolisme opened #1 "TODO list"
- [x] offer a preferences interface, accessible through perhaps a gear icon in the upper lefthand corner?
- [x] allow reviewers to add categories to a page when accepting (get existing cats via Parsoid? see jquery.mwCoolCats in UploadWizard extension for ideas, perhaps)
- [ ] better spam blacklist behavior...
- [ ] ...

[2014-02-10 22:33] theopolisme opened #2 "Testing framework"
We can run qunit through travis, yay!

Since we're focusing on abstraction and breaking stuff up into functions, it should be pretty easy to write good tests for this new codebase.

Probably want to look into sinon (http://sinonjs.org) for mocking api data...

[2014-03-03 22:32] theopolisme opened #3 "Begin soliciting early feedback"
![screen shot 2014-02-28 at 8 52 30 pm](https://f.cloud.github.com/assets/1410202/2315435/9e22936e-a323-11e3-9f03-4c6a67af81e5.png)

It's never too early to get feedback!

... @WPAFC/afch-developers, hi.

You're probably aware that I've been working on "that thing" for the past month or so; I'm now at a point where I'm ready to start soliciting feedback from you guys with two simple questions in m

[2014-03-21 00:03] theopolisme opened #4 "First general release checklist"
**TODO** before release to general userbase:
- [ ] Confirm edit summaries work with [[User:Excirial]]'s AFC Buddy script

[2014-03-30 22:54] enterprisey opened #5 "Draft Talk-space related improvements"
When leaving a comment on an AfC submission in draftspace, there should be an option to place the comment on the draft's talkpage instead, as well as an option to move the discussion below the submission template and decline templates (if any) to the draft's talkpage.

[2014-03-31 15:14] josve05a opened #6 "Blacklisted url"
What to do if the url for a cv is blacklisted, then the script will not decline or CSD the article.

[2014-03-31 15:19] josve05a opened #7 "Edit summary not in yellow"
Please include a setting of some sort to make the edit summary not in yellow, I find this a bit distracting and annoying.

[2014-03-31 15:40] josve05a opened #8 "badtoken"
![image](https://cloud.githubusercontent.com/assets/7117013/2569229/a2106d5c-b8ea-11e3-961c-7db85b44e9f9.png)
It did not edit anything. I updated the page, and then it worked.

[2014-03-31 17:23] josve05a opened #9 "Tag as G12 even if the article is not submitted"
An ability to tag as G12 even if the article is not submitted, just as with G13 ewould be great, no need to swith between afch-rewrite and Twinkle all the time.

[2014-04-05 13:51] #7 closed, assigned to nobody

[2014-04-05 14:04] #8 closed, assigned to nobody

[2014-04-06 21:22] #9 closed, assigned to nobody

[2014-04-07 00:10] josve05a opened #10 "Search"
I am used (in the old script) to only search for the decline-reason with 2-3 letters and then press enter, like 'not' for 'not - Submission fails [[Wikipedia:What Wikipedia is not]]', but in this script this is in 12th place in the dropdown-meny.

[2014-05-14 02:10] #6 closed, assigned to nobody

[2014-05-14 02:10] #3 closed, assigned to nobody

[2014-05-14 02:10] #2 closed, assigned to nobody

[2014-05-14 02:10] #10 closed, assigned to nobody

[2014-05-14 02:11] #5 closed, assigned to nobody

[2014-05-14 02:11] #4 closed, assigned to nobody

[2014-06-13 00:45] enterprisey opened #12 "CSS in repo"
Would it be possible to move the CSS into the repository (i.e. from `/build`) so that it can be edited?

[2014-06-13 18:58] #12 closed, assigned to theopolisme

[2014-06-13 19:37] theopolisme opened #13 "[meta] Pull requests"
Hiya guys,

First of all, I've got some temporary internet access, so *yay!* I'll be home Thursday and then I'll actually be able to push code and whatnot.

Just a heads up about new commits to the repo... I noticed there was a bit of activity and figured it would be good to mention this again:

**Please use pull requests!**

Yeah, yeah, it's rather inconvenient and whatnot. But they allow for (ps

[2014-06-29 12:34] Technical-13 opened #15 "properly define "type" so that FFU and AFC/R can be loaded"
If this script is going live in a couple days, it should have FFU and AFC/R functionality.  I figured out what I was missing and AFC/R in the beta version of the script was working (I just wasn't seeing the review button because it was hidden in a dropdown from another script I use that collapses all of the portletlinks in that section).  I've requested the beta AFC/R pushed live (to fix the immed

[2014-06-29 12:37] Technical-13 opened #16 "User preference /or/ better debugging tools?"
Add a dropdown that will allow the script to load the various versions of the script as a dropdown to make version switching easier for debugging purposes.  Will add details and try to put together a pull request in a couple weeks.

[2014-06-29 16:43] Technical-13 opened #17 ""annoying" popup complaints"
S\For details, see:
- https://en.wikipedia.org/w/index.php?title=Wikipedia_talk:WikiProject_Articles_for_creation&diff=612758486&oldid=612757609
- https://en.wikipedia.org/w/index.php?title=Wikipedia_talk:WikiProject_Articles_for_creation&diff=613830550&oldid=613827486

[2014-07-01 19:47] Technical-13 opened #18 "Todo list from June `14 BLD question"
Based on [this original discussion](http://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/June_2014_Backlog_Elimination_Drive#A_pat_on_your_backs_and_Request_for_Comments):
- [ ] Should call and support the existing working FFU and AFC/R scripts. See: #15
- [x] Should offer more user customizable preferences
  *\* and possibly a better way to store these preferences
- [x] S

[2014-07-14 22:41] enterprisey opened #19 "Linking to the next submission in the queue"
I was thinking about replicating [#204](https://github.com/WPAFC/afch/issues/204) from the non-rewrite repo. Should I put [`afcHelper_getNextPage()`](https://github.com/WPAFC/afch/commit/3790ff6fd3abdd433c204cdb4284dc6578e840aa#diff-c5875c2def917a84e0fc1ac19e571d81R1725) in the submissions module or somewhere else?

(This is one of the features from the non-rewrite version which I miss the most.)

[2014-07-20 21:00] APerson241 opened #20 "Won't recognize variants of {{Reflist}}"
I came across a submission today that used `{{refs}}`, but AFCH claimed that the submission didn't have a references list.

The [regex](https://github.com/WPAFC/afch-rewrite/blob/master/src/modules/submissions.js#L903) looks like it only tests `{{reflist}}`, `{{listaref}}`, and `<references>`. Maybe something could be done using the list of redirects to `{{reflist}}`?

[2014-08-06 02:29] enterprisey opened #22 "Trello usage"
Would it be possible to use GitHub's issue tracking system instead of Trello? It's fine if we don't, but I can't view Trello on the computer I frequently use for development.

Also, GitHub's issue system is (obviously) much more integrated into the pull request system, which is what we're using at the moment for major code changes.

[2014-08-10 13:51] theopolisme opened #23 "Use Mantle extension for hogan.js"
- Add `ext.mantle.hogan` as dependency
- When rendering templates, use `mw.mantle.template.compile( CODE )` to make the templates and `.render( PARAMS )` to get the rendered code

We can then remove our personal copy of hogan.js.

[2014-08-25 21:08] #22 closed, assigned to nobody

[2014-11-06 01:07] #19 closed, assigned to nobody

[2014-11-08 14:24] #23 closed, assigned to nobody

[2014-11-08 14:35] theopolisme opened #26 "When the reviewer enters a destination title, warn if its talk page already exists"
[Original discussion](https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/Helper_script#.5B0.8.5D_Feedback_about_talk_page)

When the reviewer types a proposed new title (e.g. `Title`), check to see if the associated talk page (e.g., `Talk:Title`) already exists, and if so, show a warning (`The page "Talk:Xyz" already exists.`) next to the new title input area.

The rele

[2014-11-08 15:15] theopolisme opened #27 "Fix broken "next submission" link due to changes in the Categorymembers API"
The function that generates the next submission link was broken when the `startsortkey` parameter was [deprecated](https://gerrit.wikimedia.org/r/#/c/159746/), breaking our API requests to find the subsequent category members.

The [relevant code](https://github.com/WPAFC/afch-rewrite/blob/master/src/modules/submissions.js#L468) should be updated to use, instead of `cmstartsortkey`, the new `cmsta

[2014-11-09 04:20] #17 closed, assigned to nobody

[2014-11-25 19:05] josve05a opened #29 "AFCHRW can't handle malformated {{AFC submission}}-templates"
https://en.wikipedia.org/w/index.php?title=Draft:Cytokine-induced_killer_cells&oldid=635413010

It just says "Loading AFCH v0.9..."

Confirmed by 2 users in Fx and Chrome.

[2014-11-28 01:48] #29 closed, assigned to nobody

[2014-11-29 20:21] APerson241 opened #31 "Add "frequently used snippets" next to the decline reason box"
There's a lot of room next to the box for entering a comment while declining a submission:

![afch-request-frequently-used-snippets](https://cloud.githubusercontent.com/assets/1981364/5235672/d433d724-77da-11e4-9f9b-fd800c218592.PNG)

Why don't we use this for something like a list of frequently used snippets? The actions available for snippets would be adding, removing, and rearranging them. Snip

[2014-12-10 04:29] #27 closed, assigned to nobody

[2014-12-11 23:27] #26 closed, assigned to nobody

[2014-12-26 20:33] APerson241 opened #38 "Random submission links should show counts"
Where the script says "Continue to the next submission" after an action, it should fetch the category counts for CAT:PEND, CAT:VERYOLD, and the GFOO queue using three Deferred objects and display them after their corresponding links.

It would be nice to be able to see which queue needs the most help. ("There are 600 CAT:VERYOLD submissions! Let me do those instead of the GFOO ones!")

[2015-01-05 01:06] enterprisey opened #39 "Cleaning submissions should remove the header inserted by the submission process"
Before a draft is cleaned, the submission template often appears at the end of the page under a section header.

This is because many of the ways in which the template gets on the page involve the "New section" function.

Section headers like these should be removed. If there's a section header _immediately_ above the submission template, it should get removed, especially if it has the same name a

[2015-01-09 03:09] #38 closed

[2015-01-10 03:39] APerson241 opened #41 "Add an autoclean link to {{User sandbox}}"
Sometimes, such as when a user subpage has just been moved to draftspace and {{User sandbox}} remains on the page, it displays an error:

![wikipedia-user-sandbox-error](https://cloud.githubusercontent.com/assets/1981364/5690333/3f1a5744-9850-11e4-9623-667731a17106.PNG)

It would be wonderful if the script inserted a small "(clean)" link next to that message that would trigger a page clean.

[2015-01-12 16:53] APerson241 opened #42 "Script doesn't dissuade user from prefixing a username with "User:""
In the dialog for resubmitting an article, the "Someone else" selection gives only a textbox. There are no "hints" given to the user, like they are for the "dupe" decline reason.

As a result, I accidentally [added](https://en.wikipedia.org/w/index.php?title=Draft:Dorota_Lopatynska-de-Slepowron&diff=642174969&oldid=641091718) a draft with an incorrect `u=` field, leading to a notification being [p

[2015-01-17 00:55] APerson241 commented on #42
Fixed in my userspace version. Will test, then commit.

[2015-01-17 20:21] APerson241 commented on #42
Fixed in 647588f

[2015-01-17 20:21] #42 closed

[2015-01-23 16:10] APerson241 opened #43 "Better preloading for duplicate declines"
Whenever a decline reason involving duplicates is selected, the script should preload the form more efficiently. Specifically:

 - When the "duplicate of a mainspace article" reason is selected, the script should preload the form with the name of the article.
 - When the "duplicate of a submission" reason is selected, the script should search across both the Draft namespace and the WT:AFC space fo

[2015-01-23 16:16] APerson241 commented on #41
Bit crufty and pointless. Might resurrect when I have time.

[2015-01-23 16:16] #41 closed

[2015-01-23 16:16] #13 closed

[2015-01-23 16:17] APerson241 opened #44 "Improve spam blacklist behavior"

[2015-01-23 16:17] APerson241 commented on #1
Migrated remaining issue to #44.

[2015-01-23 16:17] #1 closed

[2015-01-23 16:18] Lorwp commented on #43
Seems good, but the problem i see here is that how it’s going to work out if there’s a duplicate. The titles would not necessarily be the same unless there was one with the same name on both Namespaces.

[2015-01-23 21:04] APerson241 commented on #43
That's how I generally encounter duplicates. Either way, it's better to start with something in that field than with nothing.

[2015-01-23 21:39] #43 closed

[2015-01-24 03:31] Lorwp commented on #44
Could easily do this by for example, making something like ```Error, page is on the [[Wikipedia:Spam blacklist|Spam blacklist]].``` And show steps on how to fix this problem.

[2015-01-31 19:58] APerson241 opened #45 "Functionality for welcoming users"
would be great if we could welcome users when accepting/declining.

[2015-01-31 20:56] Technical-13 commented on #45
#18 checkbox 7...

[2015-01-31 22:38] APerson241 commented on #45
@Technical-13 I saw that, but I'd rather have something more atomic so I can assign it to myself, claim it's fixed in a commit message, and so on.

[2015-01-31 23:21] Technical-13 commented on #45
That's fine, just tying it together so it can be checked off on other page when done too. :)

[2015-02-09 19:36] APerson241 opened #46 "Previewing decline reasons"
It would be great if we could preview decline reasons.

Perhaps something like putting a (preview) link on the right side of the selection dropdown, without throwing off the center alignment and at 80% font size.

[2015-02-10 03:18] APerson241 opened #47 "Script freezes when automatically opening"

[2015-02-10 03:28] Lorwp commented on #47
As i reported this on IRC, i'll quickly add something here.

Pretty much the issue here is that when the option in preferences ```Automatically open the review panel on AfC submissions``` is ticked it freezes on this screen, and stays there unless you restart it.
![untitled](https://cloud.githubusercontent.com/assets/8052896/6121055/0f5470a4-b131-11e4-94f9-a4ad6f10f5a5.png)

[2015-02-10 03:43] theopolisme commented on #47
Uncaught ReferenceError: Hogan is not defined
load.php?debug=false&lang=en&modules=jquery%2Cmediawiki&only=scripts&skin=vector&version=20150205T2…:154

Looks like the hogan.js file might not be being loaded?

[2015-02-10 03:53] Lorwp commented on #47
Possibly, if i get a chance i'll use my (Admittedly limited) knowledge of the AFCH code to try and (Admittedly probably not very well) fix it.

[2015-02-10 06:19] Lorwp commented on #46
If wikicode is supported inside the interface, we could do something like ```{{collapse|1=collapsed text|2=Preview of template}}``` and style it accordingly with custom CSS to make it slightly more transparent and more "Fit" with the style that may be wanted in the interface. Otherwise a collapsed box could be created manually (not too sure of the CSS and JS implications of doing such) with some s

[2015-02-10 14:42] APerson241 commented on #46
I was just thinking of sucking the HTML out of Template:AfC submissions/comments and sticking that inside a styled div, but that can work too.

[2015-02-10 14:43] APerson241 opened #48 "Offering a top-level option to unmark as reviewing"
The notice that you're reviewing a draft should also offer an option to unmark it.

[2015-02-10 23:56] Lorwp commented on #46
oh...maybe i over-complicated things in my way :P

[2015-02-21 12:52] josve05a opened #50 "Does not add AfC banner to other NS other that 0"
When accepting a Template through AfC, and add WikiProjects, it doesn't create a talk page. Also see this screenshot. No indication it even tried, but it did try to edit the Template twice, once with an editconflict (same thing happened on another Template-AfC just minutes before, so I see a pantern.)

![Screenshot]
(http://i.snag.gy/CR5iM.jpg)

[2015-02-21 16:53] QEDK opened #51 "Page doesn't reload automatically"
I'm running Firefox 35.0.1 and Chrome 46 (or whichever is the latest, I've automatic update enabled) and the page doesn't reload by itself. Not really a major problem but a bug nonetheless.

[2015-02-23 14:45] APerson241 opened #52 "Random page in cat link shouldn't be shown for empty categories"
As with CAT:VERYOLD at the moment, when a category is empty, Special:RandomInCategory shows some form. Instead, as soon as the script knows that a category is empty, the link should be disabled. (Fix might have to be made in https://github.com/WPAFC/afch-rewrite/blob/master/src/modules/core.js#L1384)

[2015-02-23 17:32] #52 closed

[2015-02-24 22:53] #50 closed

[2015-02-24 22:53] theopolisme commented on #50
Will be live shortly, cheers

[2015-02-24 22:54] theopolisme commented on #51
Does this occur in all cases, or only on specific pages? I'm not able to replicate this issue on https://en.wikipedia.org/wiki/Wikipedia_talk:Articles_for_creation/sandbox ... note that when reloading, only the article content is refreshed (in place) -- the entire page doesn't reload.

[2015-02-24 23:20] #47 closed

[2015-02-24 23:20] #48 closed

[2015-02-24 23:30] theopolisme commented on #47
Fixed & live

[2015-02-25 08:26] QEDK commented on #51
Occurs when I'm cleaning. It might be a Firefox issue too, I recently switched because I believe Firefox is more customizable and uses less RAM.

[2015-02-27 19:51] APerson241 opened #53 ""Main menu" should be customizable"
At the moment, the "main menu" of the script has 3 buttons: Accept, Decline, and Comment. I can click on the arrow to the right to show Clean and Mark as Reviewing.

However, I only use three of those buttons on a regular basis: Accept, Decline, and Clean.

There should be an option in the preferences so I can select which buttons appear in the "main menu", as the buttons in the "secondary" menu (

[2015-02-27 20:38] theopolisme commented on #53
Of course the other option is to reduce the size of the buttons and enable the all to be displayed without the need for a slide out menu..

[2015-02-28 01:59] APerson241 commented on #53
I feel like the main reason there's a slide out menu in the first place is so that

 - the buttons present larger targets (Fitts's law!)
 - there's less complexity open to the user by default

i.e. I'd rather not see options that I never use by default.

[2015-03-01 05:08] APerson241 commented on #53
A few more thoughts on this:

 - We could use something like [jqxDragDrop](http://jqwidgets.com/jquery-widgets-demo/demos/jqxdragdrop/index.htm?%28arctic%29#demos/jqxdragdrop/defaultfunctionality.htm).
 - Or, we could have a table with two columns: name of action and a two-state slider indicating whether it's on the primary or secondary menu.
 - The [Ozone Web Framework](https://github.com/ozonepl

[2015-03-15 09:20] josve05a opened #54 "Can't handle unclosed ref-tag"
In this revision there is a "review waiting"-tag, but I can't review it with RW, (can with beta).
https://en.wikipedia.org/w/index.php?title=Draft:Alcohol_hang_over&oldid=651450745

[2015-03-15 22:33] APerson241 commented on #54
@josve05a Do you know if anything appeared in the console? Did any of the buttons work, and if they did, do you remember what happened if you hit the ones that worked?

[2015-03-21 16:20] APerson241 opened #55 "Don't send a teahouse invite to experienced or invited users"
If the user whose draft is getting declined has more than X edits, the "Send Teahouse invite" checkbox shouldn't be checked by default. I propose that X be 2000, but I have no compelling reason to set it there.

Also, if the user has a user right that's seen as "advanced" (e.g. sysop, template editor(?), crat, autopatrolled (although why they would be submitting drafts is beyond me)), the checkbox

[2015-04-03 23:00] josve05a opened #56 "[[Category:AfC submissions by date/03 April 2015|]]"
What's up with the "[[Category:AfC submissions by date/03 April 2015|]]" in the middle of the page?
https://en.wikipedia.org/w/index.php?title=User:Dr._Wayman_Spence/sandbox/&oldid=654841497

[2015-04-03 23:02] josve05a commented on #54
"Do you know if anything appeared in the console?" Didn't check...
"Do you know if anything appeared in the console?" Yes, they appeared as if it wasn't submitted.

[2015-04-03 23:36] theopolisme commented on #54
Right now the script only looks at top-level templates, <https://github.com/WPAFC/afch-rewrite/blob/master/src/modules/core.js#L313>, so a template nested inside a ref tag is ignored. I think I had a reason for this at the time...

In the linked line, one could change `. children(` to `.find(`. This would fix the issue, but might introduce another... Someone needs to test this out first.

[2015-04-27 13:33] josve05a opened #58 "Odd error."
![screenshot 2015-04-27 at 15 31 54](https://cloud.githubusercontent.com/assets/7117013/7348533/aabaca14-ecf2-11e4-9686-518533675c91.png)
![screenshot 2015-04-27 at 11 49 24](https://cloud.githubusercontent.com/assets/7117013/7348532/aa9cd72a-ecf2-11e4-81c2-e0953e025513.png)

[2015-04-30 08:59] josve05a opened #59 "It does not send notifications to the submitter"
![screenshot 2015-04-30 at 10 58 08](https://cloud.githubusercontent.com/assets/7117013/7409609/ff093e3e-ef27-11e4-86ee-29fab8884934.png)
![screenshot 2015-04-30 at 10 58 11](https://cloud.githubusercontent.com/assets/7117013/7409608/ff089178-ef27-11e4-9b29-d143d63fa571.png)

[code]

[2015-05-03 17:20] lixxx235 commented on #59
This is urgent; top-priority. Many are not currently reviewing because it takes far too long to send manual notices. Thanks.

[2015-05-03 19:41] #59 closed

[2015-05-03 19:42] theopolisme commented on #59
Thanks for reporting this! It should now be fixed; you may need to clear your cache for the fix to take effect.

[2015-05-07 16:56] APerson241 opened #60 "Deletion tags should sort to the top"
Current behavior while cleaning: [here][1] (`{{mfd}}` is sorted to the bottom)

Ideally, `{{mfd}}` and other deletion tags should be moved to the top during the cleaning process.

Marking this as a bug because deletion tags obviously are at a higher priority than "declined" or "submitted" tags, and the script's current behavior conflicts with the expected behavior.

 [1]: https://en.wikipedia.org/

[2015-05-07 17:02] APerson241 opened #61 "Deletion tags should block reviewing"
When the script sees `{{mfd}}` or another deletion tag (e.g. a CSD or PROD), it shouldn't allow the draft to be accepted or declined pending the resolution of the deletion discussion.

[2015-05-07 22:43] Technical-13 commented on #61
I disagree that "oh, there is a deletion tag on this page so it's going to be deleted anyways so it can't be improved and approved while the deletion discussion is open" is the path to take here. I think that if a reviewer comes along and finds that the draft is approvable, then the script should carry out the approval as is appropriate and remove any CSD or PROD tags. Obviously, it can't remove t

[2015-05-10 22:31] APerson241 commented on #58
Looks like the bot ran into a captcha. Maybe it hit some rate limits?

If this showed up during "slow" reviewing rates (maybe 1 every two minutes), then there would definitely be a problem here.

Marking as a bug anyway, as this error should be passed on in a more user-friendly way.

[2015-05-10 22:37] theopolisme commented on #58
What "bot"? The script isn't a bot, it's editing as the user... @josve05a, you might have triggered some sort of blacklist? Did the page have some questionable content?

[2015-05-10 23:47] APerson241 commented on #58
(Yeah, I meant script.)

[2015-06-18 15:39] APerson241 commented on #19
(For posterity: as the fix from #21 eventually failed due to changes in the API, a permanent solution was found with #33.)

[2015-06-29 22:11] josve05a commented on #58
I think I know what happened. I got logged out (in another window/computer) which caused my to be not logged in while I edited (looks logged in since I entered the page before)...soemthing like that?

[2015-06-29 22:13] josve05a opened #62 "Review logs"
We already have CSD logs for copyvios etc. Why not implement 'review log'?Easier to clean up a bad reviewer's reviews and makes it a bit competative at the same time (and I love stats!)

[2015-06-29 22:20] theopolisme commented on #58
That makes a lot of sense! I'll count that as issue resolved :)

[2015-06-29 22:20] #58 closed

[2015-06-29 22:21] theopolisme commented on #62
Yup, I know this was on the roadmap at some point. I haven't touched the code in a while but it might be an interesting feature for someone to add. Technically it's quite simple.

[2015-06-30 21:30] APerson241 commented on #62
I currently have a web tool to get a list of a user's AfC reviews (much like the AfD stats tool) on the back burner, but it should be ready pretty soon.

In my opinion, these review logs would get pretty big pretty fast, especially with some of the more active reviewers; we might be better off with such a tool.

[2015-07-04 21:25] josve05a opened #63 "Custom rationale not visable"
https://en.wikipedia.org/w/index.php?title=Draft:Professor_Alexia_Thomas&diff=669966356&oldid=669927520

[2015-07-04 21:32] josve05a commented on #63
Due to an external link with an equality sign in it. the part before that is interpreted as a parameter name, the part afterwards as the value of that template parameter, making the entire rational invincible, since no such parameter name exists.

[2015-07-05 17:41] APerson241 opened #64 "Categories get cut off"
While accepting, there seems to be a maximum length for categories. This is a big problem, as there are numerous categories that have very long names.

[2015-07-05 18:50] theopolisme commented on #64
Example? The only operation we perform on the category names is a trim to remove whitespace... Maybe the API is returning truncated names? I wonder if there is an alternative mechanism by which to refer to categories (e.g. page identifiers) if this is truly an issue...

Relevant fn: https://github.com/WPAFC/afch-rewrite/blob/9632e4fdd701178968867e9936e1d7eda77b1d8a/src/modules/submissions.js#L624-

[2015-07-05 19:10] APerson241 commented on #64
Steps I followed to reproduce:

1. Visit a draft with the latest version of AFCH
2. Open AFCH
3. Hit "Accept"
4. Enter the "Add categories" field by clicking at the end
5. Hold down a key, or something

After a bit, the text string stops getting longer, when there should be no limit.

[2015-07-05 19:14] #63 closed

[2015-07-05 19:17] theopolisme commented on #63
I thought this was a weird bug, because I could have sworn I added a conditional to handle the case of "equals sign in template value" and switch to using an absolute parameter instead. Turns out I did, but some missing parentheses somewhat stymied the effort :) Now fixed and will be live shortly. Cheers,

[2015-07-05 19:47] theopolisme opened #65 "Build stalling on mac os 10.10.4"
Looks like Jest needs to be updated.

[2015-07-05 19:56] theopolisme commented on #64
Oh, I think the problem you're encountering is that the category `<input>` element is actually being cut off in the display itself (I experienced this when following your steps to repro). This is probably due to a hacky tweak in which its width was set to `110%`:

I'll try a slightly less hacky fix shortly.

[2015-07-05 20:00] theopolisme commented on #65
:open_mouth: https://github.com/facebook/jest/issues/243

[2015-07-05 20:22] #65 closed

[2015-07-05 20:22] theopolisme commented on #64
@APerson241 ^ fixed the issue for me, please test and close if it appears resolved for you as well.

[2015-07-05 23:13] APerson241 commented on #64
Fixed!

[2015-07-05 23:13] #64 closed

[2015-07-06 01:59] theopolisme commented on #62
Link to APerson's project: https://github.com/APerson241/afchistory

[2015-07-08 22:32] josve05a opened #66 "Warn if the draft page has a talk page"
https://en.wikipedia.org/wiki/Draft:Restaurant_%26_Bar_Design_Awards has a draft page saying it has an OTRS-tcket. Normally reviewers wouldn't notice this and mark it for deletetion anyways. The tool needs to warn that there is a talk page and/or an OTR-template on it.

[2015-07-08 22:34] josve05a commented on #56
Never mind. Deleted page, prob. nothing  to do with this script.

[2015-07-08 22:34] #56 closed

[2015-07-09 04:00] APerson241 commented on #62
Resolved with the addition of that tool.

[2015-07-09 04:00] #62 closed

[2015-07-09 04:27] josve05a opened #67 "Didn't remove 'review in progress'-tempate"
https://en.wikipedia.org/w/index.php?title=Draft:United_College_of_Aviation,_Science_%26_Management&diff=670625617&oldid=670624399
Possibly because between my edit of marking the draft as under review and reviewing it, a bot replaced a {{submit}} with {{subst:submit}} causing the being both a "review in progress" template and a "review wanted" template. Then when I reviewed it, the tool only  remo

[2015-07-12 06:40] josve05a opened #68 "Using script after VE-edit undo's the edit"
https://en.wikipedia.org/w/index.php?title=Draft:Annette_Warren&diff=671072393&oldid=671072363I have the AFCHRW-script on "automatic open", so after I edited it with VE, I saved and pressed "Clean submission", this caused the VE-edit to be undone. Some JavaScript-problem?

[2015-09-05 01:44] APerson241 opened #69 "Script shows deletion log for another page"
I experienced this most recently with [User:APerson/delsort](https://en.wikipedia.org/wiki/User:APerson/delsort). If you try and review it, the script will show what it thinks is a prior deletion log entry... but the log entry is actually when delsort (not User:APerson/delsort) got deleted.

The script needs to fetch deletion logs using the entire page name, not just the subpage name.

[2015-09-05 01:46] APerson241 commented on #55
Hey, they might find the teahouse useful anyway. Unless we're getting complaints from annoyed experienced users (who would probably just go through mainspace anyway), I think this can safely be closed.

And, I fixed the third point (the already invited one) anyway.

[2015-09-05 02:57] Technical-13 commented on #55
The best way to handle this is to have the script respect a {{nobots}} situation to allow experienced users to opt-out of invites.

[2015-09-05 12:59] APerson241 commented on #55
I'm not sure that the {{bots}} template would work here, as there are essentially two "levels" of messages the script sends: important ones, like {{Afc decline}}, and less-important ones, like the teahouse invite. {{bots}} blocks both or neither, but it can't be (ab)used to allow only the important messages.

[2015-09-05 13:08] Technical-13 commented on #55
* {{Nobots}} blocks both unless there is an |allow=
* {{Bots|deny=}} blocks whichever is denied
 * AFCteahouse for teahouse invite
 * AFCstatus for accept/decline messages

Not sure if those are the best names, so totally open for discussion.

[2015-09-26 23:27] APerson241 commented on #20
I don't really envision the list of redirects to the template changing a lot, so I'll just hardcode them in for now.

[2015-09-26 23:37] #20 closed

[2015-09-26 23:38] APerson241 commented on #46
To add on, previewing the custom comments left along with a decline would also be really great.

Looking into Parsoid right now.

[2015-09-27 03:08] APerson241 commented on #31
Realized that this isn't necessarily a good thing; people have userspace pastebins for that.

[2015-09-27 03:08] #31 closed

[2015-10-03 21:18] josve05a commented on #31
Sometimes I decline a few drafts that are "similar". Howabout having a last comments, or a way for the script to remember my last 1-3 custom rationale? Instead of having my copy-paste them?

[2015-12-17 22:44] ghost opened #71 "AfCH script not working"
After selecting "Review (AFCH)" from the dropdown menu, the traditional three-button window appears but none of the buttons or links react when clicked. (So "Accept", "Decline", "Comment", "Clean submission" and "Mark as under review" aren't working.)

Let me know if more information is needed.

[2015-12-17 22:46] hasteur commented on #71
Were there any errors on the JS console? What page were you trying to
review?
On Dec 17, 2015 4:44 PM, "wiawikipedia" <notifications@github.com> wrote:

[2015-12-17 22:50] josve05a commented on #71
On all drafts.
![screenshot 2015-12-17 at 23 50 07](https://cloud.githubusercontent.com/assets/7117013/11884286/eb8fce0c-a518-11e5-9c2b-17302101f941.png)

[code]

[2015-12-17 23:00] hasteur commented on #71
The buttons fail because the JavaScript croaked while loading. I'm mobile
right now so cant see if this is localized to you or if this is widespread.
On Dec 17, 2015 4:50 PM, "Jonatan Svensson Glad" <notifications@github.com>
wrote:

[2015-12-17 23:02] josve05a commented on #71
It is confirmed on IRC that this is widespread for everyone. Using beta as a fallback as of right now.

[2015-12-17 23:13] theopolisme commented on #71
Looking...

[2015-12-17 23:21] theopolisme commented on #71
I've implemented a temporary fix and pushed it to enwiki. Please try clearing your cache and do comment here if the issue continues.

Leaving this issue open until I figure out what went wrong with mwFeedback...

[2015-12-17 23:28] theopolisme commented on #71
On enwiki: https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/Helper_script#Draft:_Dixien_LLC

[2016-01-20 19:05] Nathan2055 opened #72 "Comment text is deleted if you switch canned decline reasons"
Title. If you select, say, reads like an advertisement, type out a comment, and then swap over to general notability issue then the comment text you wrote will be deleted.

[2016-01-20 19:07] Nathan2055 opened #73 "Multiple WikiProject banners should be collapsed in {{WikiProject banner shell}}"
At the moment any WikiProjects selected are simply stacked on the page, for readability reasons they should be collapsed in {{Wikiproject Shell Banner|1= }}.

[2016-01-20 19:10] Nathan2055 opened #74 "{{Talk header}} should be added to new talk pages"
Since we're creating a new talk page anyway when we add the WikiProject Articles for creation and other WikiProject banners, we should add {{Talk header}} so new users and such viewing the page have access to the full link directory.

[2016-02-09 03:32] APerson241 opened #75 "Add the reviewer's comment to the author's talkpage"
Along with the decline reason, the comment left by the reviewer (if any) should also be added to the author's talk page.

See also [this discussion at WT:WPAFC](https://en.wikipedia.org/w/index.php?title=Wikipedia_talk:WikiProject_Articles_for_creation&oldid=703880715#Templates_and_comments).

[2016-02-09 04:33] APerson241 commented on #46
I have this working on my box, by the way... just finishing it up right now. Should have it out by tomorrow.

[2016-02-15 23:12] APerson241 commented on #46
See the pull request in #77.

[2016-02-18 22:39] #46 closed

[2016-02-21 20:45] #75 closed

[2016-02-23 04:00] #74 closed

[2016-02-27 03:44] enterprisey opened #78 "Multiple decline reasons"
The script should allow reviewers to decline a script for multiple reasons.

For example, if a draft reads like an advertisement _and_ is poorly sourced, selecting both reasons should add a decline box that includes comments for both `adv` and `v`.

This is one of the most-requested, perhaps _the_ most-requested, features for the script: see, for example, [here](https://en.wikipedia.org/wiki/Wikip

[2016-02-27 17:46] APerson241 commented on #39
After looking through several of the currently pending drafts, it looks like nobody actually creates a section header while submitting their draft anymore.

[2016-03-04 04:33] APerson241 commented on #69
I belatedly realized that the point of this feature is to show the log for the article that the draft would become.

So, this is by design.

[2016-03-04 04:33] #69 closed

[2016-03-04 04:33] APerson241 commented on #61
Per Technical-13.

Also, nobody would ever do this.

[2016-03-04 04:33] #61 closed

[2016-03-04 04:45] APerson241 commented on #72
I have it fixed on my box; just gotta test it some more.

[2016-03-04 04:51] #72 closed

[2016-03-07 18:34] APerson241 commented on #66
So, the way this'll work is if the copyright decline reason is selected and there's an OTRS template on the draft's talk page, a big (dismissable) notice pops up. Sounds good.

[2016-03-07 19:28] APerson241 commented on #66
Works on my box. Will test and merge later today.

[2016-03-08 04:04] #66 closed

[2016-03-08 04:15] theopolisme commented on #66
Maybe the fact that there's an OTRS template on the talk page should be
surfaced to the reviewer prior to this point? I.e. as one of the
getSubmissionWarnings() shown in the orange box when AFCH is first loaded.
Its present placement works, but informing the reviewer of OTRS before they
start googling around to find a copyvio might be more efficient.

On Mon, Mar 7, 2016, 10:04 PM APerson <notific

[2016-03-08 04:32] APerson241 commented on #66
I see where you're coming from. This would be another `checkXxx()` method nested in [`getSubmissionWarnings()`](https://github.com/WPAFC/afch-rewrite/blob/master/src/modules/submissions.js#L858), I guess.

[2016-05-29 04:01] 333-blue opened #79 "Unable"
I tried several drafts with opened JS, enabled gadget and I am a participant of the AFC, but it still doesn't work. ~~~~

[2016-05-29 13:57] theopolisme commented on #79
Replied on wiki at WT:AFCH. Issue w/ deploy cc @APerson241

[2016-05-29 15:47] #79 closed

[2016-06-09 01:39] josve05a opened #80 "Not starting or loading at all ("AFCH.Page is not a constructor" and "AFCH.load is not a function")"
`Uncaught TypeError: AFCH.Page is not a constructor https://en.wikipedia.org/w/index.php?action=raw&ctype=text/javascript&title=MediaWiki:Gadget-afchelper-beta.js/core.js:320`

`Uncaught TypeError: AFCH.load is not a function https://en.wikipedia.org/w/index.php?title=User:Enterprisey/afch-dev.js&action=raw&ctype=text/javascript:54`

On https://en.wikipedia.org/w/index.php?title=Draft:Program_Mana

[2016-06-09 01:40] josve05a commented on #80
It won't load or display as an opinion or tool in the "More" menu.

[2016-06-09 23:29] APerson241 commented on #80
Diagnosis was that josve05a was using the beta version of the script (i.e. pre-rewrite), and the fix was switching to the version I made in userspace by throwing together various parts of the beta scripts.

[2016-07-23 03:07] APerson241 opened #81 "Default to page creator if submission template has no user set"
See this discussion.

[2016-11-14 09:12] Svetlana-T opened #82 "Add option to put review comments on draft talk"
The script needs to put draft reviewer comments on the draft talk page to make the draft easier to edit. This adds inconvenience to newcomers who don't even know that the talk page exists; measures against that are discussed on-wiki.

[2017-04-18 09:43] peterquek1983 opened #83 "Afch rewrite"

[2017-04-18 09:43] peterquek1983 commented on #83
[](url){“token”：“f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0f0

[2017-05-18 12:43] peterquek1983 commented on #83
5

[2017-05-18 12:48] hasteur commented on #83
Please do not repeatedly close and reopen a stale issue.

[2017-05-18 12:48] #83 closed

[2017-10-28 09:33] APerson241 opened #84 "The talk template left by just commenting should include the comment"
When I leave a comment by clicking the "Comment" button, the resulting user talk page notification that the script generates should include the text of the comment itself, just like we already do for declines.

[2017-12-04 17:45] Commissar0617 opened #85 "Participants list check should be partially case-insensitive"
gives me the "you're not listed as a contrubutor" error. but i've been lidted for several months now....
also posted on the talk page about it.

[2017-12-04 17:55] Commissar0617 commented on #85
suspect it has something to do with strict capitalization.

[2017-12-04 18:28] Commissar0617 commented on #85
yep. it's probably because you use (if im reading it correctly) an indexOf function. not sure if it's a code issue, or an issue with whomever is adding users. maybe add a hatnote/editnote would suffice?

[2018-01-11 23:21] APerson241 opened #86 "Option to leave comment upon accept"
There should be a "comments" box while accepting. Anything the user types there will be left as a comment on the talk page of the new article.

[2018-01-24 04:32] APerson241 opened #89 "Make the category search case-insensitive"
Title says everything.

[2018-02-03 07:08] bardiharborow opened #90 "Script should follow user talk page redirects"
The script should not have made [this edit](https://en.wikipedia.org/wiki/Special:Diff/823759466), but instead should have followed the talk page redirect and left a message at the redirect target.

[2018-04-06 10:46] MER-C opened #91 "Add {{db-g3}} and {{db-g10}} options for submissions declined as vandalism"
Vandal submissions should be considered for speedy deletion. See https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Articles_for_creation/Decline_comments_workshop#van

[2018-04-21 18:44] MER-C opened #92 "Add {{db-g11}} option for submissions declined as advertising"
Irredeemably promotional submissions should be deleted to discourage tendentious resubmission. See

https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Articles_for_creation/Decline_comments_workshop#adv

[2018-04-29 02:36] djkees opened #93 "Move Over Redirect"
Related discussion: https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation#Reducing_backlog

Right now non-admins cannot move drafts over redirects.

It would be useful if the incoming link is a redirect, the script would G6 the incoming link and tag the draft with {{db-move}}.

[2018-06-11 05:32] enterprisey opened #94 "Stop showing portlet link on WP:AFC/R"
When the user is on WP:AFC/R, don't show the "Review (AFCH)" link.

Suggested here: https://en.wikipedia.org/w/index.php?title=&oldid=845274123#AFC/R

[2018-06-24 21:05] zoidhddhdd opened #95 "Ticket"
cool

[2018-07-09 17:25] MusikAnimal opened #96 "Usernames that are part of a whitelisted username are erroneously whitelisted"
I'm only guessing this based on https://github.com/WPAFC/afch-rewrite/blob/master/src/modules/core.js#L105

For example, User:Animal would be allowed to use the tool because User:MusikAnimal is on the whitelist.

Since this is an enwiki-only thing, I would suggest parsing out the usernames as they are entered now, so something like `(new RegExp('\|\s*' + user + '\s*}').test(text)`

[2018-07-10 03:11] #96 closed

[2018-07-15 02:55] MusikAnimal commented on #96
Hey sorry, I think there is still a bug. The username interpolated into the regex could itself contain valid regex. For example, say the username is `Foo.bar`. With this, the username "Foo_bar" would get matched, because `.` means any character.

I think you need something more like this:
[code]

Yay parsing wikitext! =p

[2018-07-15 04:20] enterprisey commented on #96
Thanks for noticing the bug! That's definitely one approach - I was thinking of just escaping the username so it's safe for a regex, too

[2018-07-28 22:09] enterprisey opened #97 "Org admin"
I was about to go into the settings and fix our CI settings, due to the upcoming deprecation of GitHub Services, but I found that I don't actually have owner access on this repo. Would it be possible for someone to grant that? Thanks!

cc @theopolisme @legoktm @Nathan2055

[2018-07-28 22:32] legoktm commented on #97
Done. Please enable 2FA though!

[2018-07-28 22:32] #97 closed

[2018-07-28 23:20] enterprisey commented on #97
I have enabled 2FA.

[2018-08-01 04:36] enterprisey commented on #94
This has been fixed.

[2018-08-01 04:36] #94 closed

[2018-10-23 23:12] enterprisey opened #98 "Three decline/reject UX fixes"
1. The decline and reject reason fields should be in sync when the user switches between the "Decline" and "Reject" radio buttons.
2. When rejecting or declining, only one comment should be posted on the draft page.
3. The "Decline submission" button should be renamed to "Reject submission" when the "Reject" radio button is selected.

Credit to [Newslinger](https://en.wikipedia.org/w/index.php?tit

[2018-11-17 03:57] enterprisey opened #99 "Check for renamed users"
Don't send talk pages messages to the old names of users who were renamed.

Credit to Abelmoschus Esculentus on 02:16, 17 November 2018.

[2018-11-27 17:04] sam-irl opened #100 "Option to work from the oldest category"
The code for the AfC backlog template has the capability to detect the oldest category that is unfilled. These data could be used to add an option to choose to move on to the oldest category with submissions, instead of the standard options of 'random', 'GFOO', or 'very old'.

[2018-12-09 19:08] Svetlana-T opened #101 "do not tag with 'biography' if the draft is already tagged"
Some people mark drafts with wikiproject tags prior to the time of their approval, then when approving the draft the script adds 'biography' mark if the reviewer ticks a box; this is good but the script currently does not notice the presence of the existing mark and as a result it becomes added twice. This should be resolved by checking for the presense of existing wikiproject tags at the talk pag

[2019-01-24 01:56] neils7 opened #102 "Sms messages"
2405004599

[2019-02-09 21:23] GeoffreyTrang opened #103 "Decline/reject notification edit summary"
Currently, declining or rejecting an AfC submission will just put "declined (AFCH 0.9.1)" as the edit summary for the user talk notification. The edit summary should instead say "Notification: Your Articles for Creation submission has been declined (AFCH 0.9.1)" or "Notification: Your Articles for Creation submission has been rejected (AFCH 0.9.1)", exactly as it did in version 0.9.

[2019-02-09 21:31] GeoffreyTrang opened #104 "Automatically histmerge existing redirects"
Suppose that page A is currently a redirect and Draft:A has then been created so that it may eventually replace the redirect, and the redirect has not been edited since the creation of the draft. Then, administrators should be allowed to accept the draft over the redirect, and the earlier redirect revision(s) should then automatically be restored for histmerge.

[2019-02-26 22:46] DannyS712 opened #105 "Don't add an empty comment"
The script should not add a comment to an AfC submission when the comment field is blank.

Reason: no benefit in blank comments

Example: I clicked to quickly and made an empty comment at https://en.wikipedia.org/w/index.php?title=Draft:Funk_Night_Records&diff=885252905&oldid=885241822&diffmode=source, requiring another edit to actually add the comment

Solution: Check that the comment text isn't

[2019-02-26 22:58] DannyS712 commented on #105
I think the relevant section is `function handleComment` starting at [line 2226](https://github.com/WPAFC/afch-rewrite/blob/79099fc009603325c470cada0f6b8d428c131814/src/modules/submissions.js#L2226) of afch-rewrite/src/modules/submissions.js.

[2019-02-27 19:41] AntiCompositeNumber opened #106 "Warn if draft creator/submitter is blocked"
If the person who created a draft has been blocked, it would be useful for AFCH to warn reviewers like it does for a lack of {{reflist}} or a deleted page. Users might be blocked for sockpuppetry, spam, paid editing, or other reasons that would necessitate a closer review.

[2019-03-10 19:08] AntiCompositeNumber commented on #39
This definitely still happens: [1](https://en.wikipedia.org/w/index.php?title=Draft:Donagh_PB_Gordon&diff=887120787&oldid=887120327&diffmode=source) [2](https://en.wikipedia.org/w/index.php?title=User:Zeeshan1970/sandbox&diff=887010967&oldid=887010729&diffmode=source) [3](https://en.wikipedia.org/w/index.php?title=User:Camdinner500/sandbox&diff=886562913&oldid=886562781&diffmode=source) [4](https:

[2019-03-18 01:03] SvetlanaTkachenko commented on #101
Is there any progress on this, please., @enterprisey

[2019-03-30 20:02] enterprisey commented on #39
fair point

[2019-05-01 23:48] SvetlanaTkachenko commented on #101
@enterprisey : Please address this.

[2019-07-26 04:03] enterprisey opened #110 "Can't handle slashes in article titles"
See https://en.wikipedia.org/w/index.php?title=Wikipedia_talk:WikiProject_Articles_for_creation&oldid=prev&diff=896575638. We should probably provide adequate warning, and at least try to handle this sensibly.

[2019-07-26 19:30] MattLongCT opened #111 "AFCH.api.isBlacklisted"
**Technical details**
I'm getting this error message:
`jQuery.Deferred exception: AFCH.api.isBlacklisted is not a function TypeError: AFCH.api.isBlacklisted is not a function (load.php?lang=en&modules=jquery&skin=vector&version=0hmxo20:formatted:2073)`
My user agent is:
`User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36`

[2019-07-26 19:42] MattLongCT commented on #111
Same problem persisted when I switched browsers to... _Edge_ (Yikes)
`User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.140 Safari/537.36 Edge/17.17134`

[2019-07-26 19:53] MattLongCT commented on #111
Edge's console said:
` jQuery.Deferred exception: Object doesn't support property or method 'isBlacklisted' TypeError: Object doesn't support property or method 'isBlacklisted'
   at Anonymous function (Unknown script code:1516:6)
   at jQuery.event.dispatch (https://en.wikipedia.org/w/load.php?lang=en&modules=jquery%2Csite&skin=vector&version=1100ww4:69:91)
   at elemData.handle (https://en.wikip

[2019-07-27 09:40] enterprisey commented on #111
yup, looks like isBlacklisted got moved to its own module. Fixed in commit 0594efad

[2019-07-27 09:40] #111 closed

[2019-10-02 21:05] josve05a commented on #91
Pinging this (vandalism should be moved from "decline" to "reject" as well).

[2020-03-06 09:29] WPCleaner opened #113 "Doubled categories"
Hi, it seems that the helper tool sometimes doubles some categories, see for example edits on [Rauf & Faik](https://en.wikipedia.org/w/index.php?title=Rauf_%26_Faik&diff=943792818&oldid=943792810) by Missvain (Russian hip hop musicians) and on [The Girl from Beskydy Mountains](https://en.wikipedia.org/w/index.php?title=The_Girl_from_Beskydy_Mountains&diff=943721151&oldid=943721144) by Liance (Czec

[2020-03-09 10:31] owcz commented on #73
Relatedly, the script currently duplicates banner additions when they're already in a WP banner shell on the talk page
https://en.wikipedia.org/w/index.php?title=Talk:Duane_Rousselle&type=revision&diff=944009379&oldid=925198061&diffmode=source

[2020-05-23 21:53] josve05a opened #114 "Review broke external links"
See https://en.wikipedia.org/w/index.php?title=Draft:BISWARUP_CHATTOPADHYAY&diff=next&oldid=957175778

All external links at the end of the article (granted, they were missformetted inside curly brackets) were turned into `http://$3`

[2020-06-01 02:23] zanhecht opened #115 "Remove "class=draft" from WikiProject templates when submitting"
In edits like [this one](https://en.wikipedia.org/w/index.php?title=Talk:Research_Institute_of_Healthcare_Organization_and_Medical_Management_of_Moscow_Department_of_Healthcare&diff=960006882&oldid=960006874), the AFCH tool should be removing `class=draft` from the WikiProject templates, as drafts shouldn't ever be in mainspace.

[2020-06-06 03:37] enterprisey opened #116 "Edit conflict detection"

[2020-06-16 20:58] roysmith opened #117 "Provide links to old versions in decline statements"
When you decline a submission, you get a banner, "Submission declined on 1 May 2020 by RoySmith (talk)".  It would be nice if the date was a link to the declined version in the history.  That would make it easy to see how the article has evolved over the various submissions.

[2020-12-17 07:44] enterprisey opened #119 "Doesn't actually move punctuation before refs"
https://en.wikipedia.org/w/index.php?title=Wikipedia_talk:WikiProject_Articles_for_creation&oldid=994709656#GENFIXes

[2021-01-01 22:48] #101 closed

[2021-01-02 07:59] Svetlana-T commented on #101
Thanks Enterprisey! Happy NeYear.

Is it already deployed?

[2021-01-09 06:22] enterprisey opened #120 "Still some bugs while using multiple decline reasons"
The code implementing multiple decline reasons needs to be looked over again, because I think there are still more bugs. I'm sure there are bug reports somewhere on [WT:WPAFC](https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation).

[2021-01-09 06:22] enterprisey commented on #78
This was done, but bugs remain in the implementation, for which I opened #120.

[2021-01-09 06:22] #78 closed

[2021-01-09 12:11] primefac commented on #120
The main issue is when `reason2` contains a value that would normally have a secondary input (such as the language, merge target, or URL) that secondary input is not automatically included and needs to be added manually.

I'm likely misremembering, but I actually think that is _the_ issue.

[2021-01-15 00:01] perryprog opened #121 "Add option to notify user of autobio/coi/paid editing guidelines"
(Related to #45)

An option to replace (or add to) the Teahouse welcome on decline with `{{welcomeauto}}` or `{{welcome-COI}}` would be very helpful.

[2021-01-16 09:23] enterprisey opened #122 "Disambiguation check"
From [davidwr, 15:47, 4 December 2020 (UTC)](https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/2020_5#2_AFC_script_feature_suggestions) ([permalink](https://en.wikipedia.org/w/index.php?diff=992299958))

[2021-01-16 09:28] enterprisey opened #123 ""What links here" display"
In the "Accepting..." user interface, we should show a list of articles that link to the future title of the article, so the reviewer can check them.

Original description:

From [davidwr, 15:47, 4 December 2020 (UTC)](https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/2020_5#2_AFC_script_feature_suggestions) ([permalink](https://en.wikipedia.org/w/index.php?diff=992299

[2021-01-16 09:37] enterprisey opened #124 "Remove {{draft}}/{{draft article}} templates on accept"
From [2pou, 21:03, 15 December 2020 (UTC)](https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/2020_5#2_AFC_script_feature_suggestions) ([permalink](https://en.wikipedia.org/w/index.php?diff=994462554))

[2021-01-16 09:38] enterprisey opened #125 "Handle {{Draft categories}}"
See also https://en.wikipedia.org/w/index.php?diff=994460689, in which the use of {{Draft categories}} is *not* handled.

From [2pou, 21:03, 15 December 2020 (UTC)](https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/2020_5#2_AFC_script_feature_suggestions) ([permalink](https://en.wikipedia.org/w/index.php?diff=994462554))

[2021-01-16 09:39] enterprisey commented on #80
seems closed, I guess

[2021-01-16 09:39] #80 closed

[2021-01-16 12:26] primefac commented on #123
I don't see this as a particularly high priority. Why do we need to check the articles that link to a potential article?

[2021-01-16 21:04] perryprog opened #126 "Decline edit summary improvements"
(Related: #103)

Currently the built edit summary for a decline is simply made up from content of the options in `select#declineReason` for the decline template. This can lead to oddly worded edit summaries like

Ideally, this would be worded closer to something like

While this is a pretty darn minor issue, I think it's worth being addressed. One way to go about this might be to extract the list

[2021-01-16 23:50] enterprisey commented on #123
Yes, this is very low-priority. Perhaps just something the reviewer may be interested in, in the same way I'd check incoming links when creating a new article.

[2021-01-17 00:04] enterprisey opened #127 "Also put comments on author's talk page"
From Robert McClenon on 04:00, 27 October 2020 (UTC)
archive link: https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/2020_4#Script_Addition_Requests

[2021-01-17 01:00] enterprisey opened #128 "Copy comments to article's talk page when accepting"
Very long-standing request.

Requested by Robert McClenon on 04:00, 27 October 2020 (UTC)
Archive link: https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/2020_4#Script_Addition_Requests

[2021-01-17 01:03] enterprisey opened #129 "Biographical cats/banners shouldn't be duplicates"
When biographical information is filled in, duplicate categories and talk page banners should not be added.

https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/2020_4#Helper_script_malfunctioning%3F

[2021-01-17 01:07] enterprisey commented on #101
Yup.

[2021-01-17 01:28] primefac commented on #128
Automatic, no; quite often the comments are nothing more than indicating what needs improving.

[2021-01-17 02:52] enterprisey commented on #128
The advanced version of this would probably be a checkbox UI showing a list of all the comments and checkboxes specifying whether to copy over each one. Quite possibly not worth the additional effort, though.

[2021-01-17 09:03] enterprisey commented on #82
Moving the draft reviewer comments to the talk page on accept is #128; making the draft talk page the canonical location for comments needs a discussion on WT:WPAFC first.

[2021-01-17 09:03] #82 closed

[2021-01-17 09:08] enterprisey commented on #39
Instructions: in `AFCH.Text.prototype.cleanUp`, if there's a section header at the very end of the page with nothing after it, remove the section header. Check that the submission template has already been moved to the top of the page before the new code runs. We may want to restrict this to just sections that have the same name as the draft.

[2021-01-17 09:14] enterprisey commented on #124
Instructions: Add code to `AFCH.Text.prototype.cleanUp` to remove the {{draft}} and {{draft article}} templates. Use the "i" (ignore case) flag in the regular expression, because template names are case-insensitive (except for the first character).

[2021-01-17 09:21] enterprisey commented on #120
That's certainly part of it, if not all of it. From the report at https://en.wikipedia.org/w/index.php?diff=958290240, the generated template was:
[code]
"Spanish" should've gone to details2, not details (aka anonymous parameter 3).

[2021-01-17 09:26] enterprisey opened #130 "Allow admins to use script"
Just like AWB does. See https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/2020_1#Can_we_get_the_warning_notice_removed_for_admins%3F.

[2021-01-17 11:26] primefac commented on #130
Definitely reasonable. Would also make list maintenance easier.

[2021-01-17 11:29] primefac commented on #39
In my experience, the section headers rarely are _just_ the pagename, as it's usually something like "Resubmitting my article on XYZ". I agree the best solution is to remove blank sections at the bottom of the page where the only content is/was the AFC submission banner (which of course gets moved to the top of the draft).

[2021-01-17 12:09] primefac commented on #128
That's an interesting idea! I do think it would likely be more hassle than it's worth, though; the comments are (if I understand those who want this done) being kept mainly for historical reasons over any sort of "ongoing discussion" concerns.

[2021-01-17 18:00] perryprog commented on #126
One other minor thing could be an additional note in the edit summary when a reviewer comment is added on top of the decline reasons.

[2021-01-17 19:50] primefac commented on #126
I don't think if (and what) the reviewer commented is particularly necessary on (what is supposed to be) a relatively short edit summary.

[2021-01-17 19:52] perryprog commented on #126
Fair enough—I mainly just dislike how you currently can't tell if there was a comment included in a deny without checking the diff, but it's a pretty insignificant thing.

[2021-01-17 20:08] primefac commented on #126
Not saying it can't be done (even just putting _+comment_ might work), just giving my thoughts.

[2021-01-17 21:15] perryprog commented on #126
Ah, my apologies, I had misread your message. Yeah, a "+ comment" is more what I was thinking; sorry for the confusion.

[2021-01-18 00:09] enterprisey opened #131 "Remove subcats of Category:Draft articles when accepting"
https://en.wikipedia.org/w/index.php?diff=1001040898
davidwr at 23:59, 17 January 2021 (UTC)

[2021-01-18 00:11] enterprisey commented on #39
Oh right, it's whatever the author put in the section title text field.

[2021-01-18 09:31] enterprisey commented on #90
To reproduce: comment on a draft, with the "Notify user" option enabled, submitted by a user whose talk page is a redirect. Currently, the script will send a notice to the redirect, not the target of the redirect.

I'm pretty confident that all we need to do is add the parameter `redirect: "true"` to the API call that we use to notify users. The function that notifies users is notifyUsers in core.

[2021-01-18 10:43] primefac commented on #90
As a note, Twinkle has [the same issue](https://en.wikipedia.org/wiki/Wikipedia_talk:Twinkle/Archive_43#Twinkle_should_check_talk_page_for_redirects_before_adding_templates) so if this one gets solved it might be good to let Amory know so that it can be fixed in both locations.

[2021-01-24 07:58] enterprisey opened #132 "If CAT:VERYOLD is empty, link to next oldest nonempty cat"
If CAT:VERYOLD is empty, then the link that says "Continue to next [...] very old submission" is pointless. We should instead link to a random submission (using Special:RandomInCat) from the oldest submission-age category that isn't empty. (We could alternatively link directly to the next oldest submission, but that might send two reviewers to the same draft.)

Proposed by Utopes at 02:20, 26 Nove

[2021-01-24 17:26] enterprisey commented on #132
Similar to #100; closing in favor of that.

[2021-01-24 17:26] #132 closed

[2021-01-28 13:19] berrely opened #133 ""Automatically open the review panel on AfC submissions" opens on page that aren't drafts"
When the "Automatically open the review panel on AfC submissions" option is ticked in preferences, the AfCH script opens on [the Redirects and Categories subpage](https://en.wikipedia.org/wiki/Wikipedia:Articles_for_creation/Redirects_and_categories), even though it isn't a draft. Maybe certain pages should be excluded from the auto-open function. This only happens as for some reason "Pending AfC

[2021-01-31 23:02] enterprisey opened #134 "Userspace log of drafts"
Probably shouldn't use templates. Maybe split into subpages? There will be a slightly different set of design constraints for these logs as opposed to the well-known CSD or PROD logs because the quantity of reviews will be much higher.

[2021-01-31 23:18] primefac commented on #134
Are we referring to the suggestion of keeping some sort of AFCH log? If so, I don't see it as being much different than  https://apersonbot.toolforge.org/afchistory/ in display - just a table of page, timestamp, and action. I don't really see the need to duplicate it on-wiki as opposed to the Toolforge page, but I do suppose there's the "deleted pages" concern as well as "what happens during those

[2021-02-01 09:10] enterprisey commented on #134
Yup, just deleted pages. I've had people ask me to run AfC history for them since I can see deleted pages, but that's not a very good solution of course.

[2021-02-02 10:05] enterprisey opened #135 "Assumes {{AfC comment}} parameters end with a timestamp"
(former name of issue was "Script can't deal with two {{AfC comment}} params", meaning that if someone used two parameters for that template, or had another parameter after the signature, the script would mishandle it)

* Regex in AFCH.Text.prototype.removeAfcTemplates assumes template ends in (UTC)}}, which is (1) potentially a problematic assumption if there's any wikitext after the signature bu

[2021-02-04 06:18] siddharthvp commented on #134
How about rejigging the afchistory tool so that it executes the API calls in the backend using an admin account so that non-admin users on the frontend can see data for deleted pages too? This will also make the tool faster since admin accounts can query 5000 page results at a time rather than 500. I don't think there should be any security issue – especially if you use a botpassword or [owner-onl

[2021-02-04 10:01] enterprisey opened #137 "[Dev] Create a way to serve the script locally"
As suggested by @NarayanBavisetti, `npm start` should serve the script locally (with an option to rebuild when the files change, or however it's supposed to be done) so that it can be loaded from localhost via a user's common.js page. This would be much, much easier than the current workflow, where each change must be built and uploaded to Wikipedia (described at https://en.wikipedia.org/wiki/Wiki

[2021-02-04 17:07] satcasm commented on #124
Hi, I would like to work on this issue. Can you tell me how to get started?

[2021-02-04 23:40] enterprisey commented on #124
@satcasm Sure, and thank you for offering to help! Some drafts use the [{{Draft article}}](https://en.wikipedia.org/wiki/Template:Draft_article) template to show a banner. Articles shouldn't include it. The function `AFCH.Text.prototype.cleanUp`, defined in [src/modules/submissions.js](https://github.com/WPAFC/afch-rewrite/blob/master/src/modules/submissions.js), is responsible for cleaning up thi

[2021-02-05 05:10] satcasm commented on #124
Thanks @enterprisey , I would start right away.

[2021-02-07 01:51] enterprisey commented on #137
`npm start` (using the server.js I added) sorta works, but is missing corresponding directions for the moment.

[2021-02-07 04:04] enterprisey commented on #137
Ok, some not-very-good instructions have been added. I tried them and they worked on my machine, so I'm closing this.

[2021-02-07 04:04] #137 closed

[2021-02-07 04:05] enterprisey commented on #134
That's a good idea! I tried thinking about privacy/whatever justifications as to why using an admin account wouldn't work, but I guess it's fine. Will look into this at some point.

[2021-02-07 04:24] enterprisey opened #138 "Localizing"
@94rain, I noticed you had a translated fork of this script. It shouldn't be that difficult to just have a large file with translations of all the messages. Would you be interested in something like that?

[2021-02-07 06:47] 94rain commented on #138
Yes, I think that's a good idea. How would you plan to implement that?

[2021-02-07 20:16] enterprisey commented on #138
Fortunately, this script has a build step, so perhaps we could have a new directory with one json file per language. Do you think we would need extra handling for pluralization, gender, or other conjugations? (like https://translatewiki.net/wiki/Plural)

[2021-02-10 09:09] enterprisey commented on #124
if you write AFCH.consts.mockItUp = true in your browser console or add it to src/afch.js and then try accepting https://test.wikipedia.org/wiki/Draft:Testing_AFCH (in its current version, revid 466015, there are lots of instances of {{draft article}} and {{draft}}), you'll see that one of the JSON objects printed to the console has the new text of the article, and that in that text none of the te

[2021-02-10 09:18] enterprisey opened #139 "`npm start` should create the certificates itself"
Will make it a lot easier for new contributors.

[2021-02-10 18:50] puneetdwivedi commented on #90
i want to work on this. how i can start

[2021-02-11 15:01] Adityachaturvedi2906 commented on #124
Hi, I would like to work on this issue, can you please guide me further?

[2021-02-11 15:59] Adityachaturvedi2906 commented on #105
Hi, I would like to contribute to this issue, can you please guide me further?

[2021-02-12 06:21] Adityachaturvedi2906 commented on #39
Hi, I would like to work on this issue, can you please guide me further?

[2021-02-12 10:57] enterprisey commented on #105
@Adityachaturvedi2906 Sure! This issue isn't too complicated (good eye spotting it), so I've given it the appropriate label as well. Because this project is getting a steady stream of new contributors, if you don't mind I'll reserve just this one for you, so that the other ones can go to other people. (I'm also working on tagging more issues with good-first-issue, but I think it's fair to have onl

[2021-02-12 10:58] enterprisey commented on #39
(note for posterity that Adityachaturvedi2906 (most recent commenter) has already claimed #105 )

[2021-02-12 10:58] enterprisey commented on #124
(note for posterity that Adityachaturvedi2906 (most recent commenter) has already claimed #105 )

[2021-02-12 11:00] enterprisey opened #140 "Disabled button still clickable?"
steps to reproduce:

1. Click on "Accept" from the main menu
2. Enter a page title that already exists (like `Main Page`)

The "Accept" button at the bottom of the panel turns gray and looks disabled. It should not respond to click events, but it apparently does. We should set the `disabled` property instead of using a `disabled` class (and transfer the rules for the class to the pseudoclass).

[2021-02-14 10:44] ayan-biswas0412 commented on #140
@enterprisey can I work in this issue ? it seems interesting and I can solve the bug

[2021-02-14 14:13] Adityachaturvedi2906 commented on #105
Where can I find a Draft page?

[2021-02-14 23:14] enterprisey commented on #105
https://test.wikipedia.org/wiki/Draft:Testing_AFCH

[2021-02-15 00:45] enterprisey commented on #140
@ayan-biswas0412 Sure!

[2021-02-15 00:47] enterprisey commented on #90
@puneetdwivedi Sorry! Not sure how I missed this. Here are [instructions on getting set up](https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Articles_for_creation/Helper_script/Contributing); if you run into any trouble, post here or on the [other help venues](https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Articles_for_creation/Helper_script/Contributing#Need_help?).

[2021-02-15 08:15] enterprisey commented on #139
d96f665, but haven't tested on Windows yet.

[2021-02-15 09:48] enterprisey commented on #124
Fixed!

[2021-02-15 09:48] #124 closed

[2021-02-15 09:54] enterprisey commented on #139
Currently working on this on the `auto-certificates` branch.

[2021-02-15 10:24] satcasm commented on #135
Hi, would like to take on this issue. Can you tell me what exactly needs to be done?
Much appreciated.

[2021-02-15 10:26] enterprisey commented on #135
Sure thing, will write up some instructions tomorrow.

[2021-02-16 02:54] enterprisey commented on #139
Looking good.

[2021-02-16 02:54] #139 closed

[2021-02-16 05:52] enterprisey commented on #135
Alright, I went and checked, and apparently the parameter is no longer supported, so this issue doesn't actually need to be fixed, so I'm closing this. Apologies for the bait. Issue number 125 is similar to the one you recently did, so you might be interested in it.

[2021-02-16 06:43] satcasm commented on #125
I would like to work on it. Can you brief me about it?
Much appreciated.

[2021-02-16 10:31] enterprisey commented on #125
@satcasm Not too complicated - {{Draft categories|*whatever*}} should be replaced with just *whatever* when cleaning an accepted submission (in cleanUp with isAccept set to true). I think we might also do some other formatting of categories (removing extra newlines, maybe?) so it would be nice to ensure that happens to those categories that were inside {{Draft categories}}. Also, categories should

[2021-02-18 10:07] enterprisey opened #143 "[Dev] generate-certificates needs work on winpty/openssl detection"
https://wikimedia.zulipchat.com/#narrow/stream/273783-enwiki-afch/topic/Draft.3ATesting/near/226773530

[2021-02-19 08:24] enterprisey commented on #105
Issue is currently open for anyone

[2021-02-19 09:56] satcasm commented on #131
Hi @enterprisey , would like to take this as my next issue . Hope you could brief me about it, I went through the links you provided couldn't make much out of it.
Much appreciated!

[2021-02-19 10:26] enterprisey commented on #125
Fixed.

[2021-02-19 10:26] #125 closed

[2021-02-21 10:29] enterprisey commented on #131
@satcasm So there are two changes. Let's call all subcategories of [Category:Draft articles](https://en.wikipedia.org/wiki/Category:Draft_articles) "draft categories". Then these "draft categories" should:
1. not be "disabled" during the cleaning process (in the "else" block of the isAccept if statement in AFCH.Text.prototype.cleanUp)
2. be removed during accepting (I would recommend skipping them

[2021-02-21 18:28] MobolanleAdebesin commented on #105
Hi @enterprisey, I'm interested in this ticket! I am (or will be) a first-time contributor. Is it still available?

[2021-02-21 18:50] satcasm commented on #131
@enterprisey  in the else part of AFCH.Text.prototype.cleanUp nothing is mentioned about subcategories. So what exactly did you mean by ```not be "disabled" ```?

![image](https://user-images.githubusercontent.com/56315878/108635118-81bbec80-74a3-11eb-8ca3-1c5320a21a88.png)

[2021-02-21 22:26] enterprisey commented on #105
@MobolanleAdebesin Sure, thank you for your interest! My post above with instructions is still current. The developer guide is at https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Articles_for_creation/Helper_script/Contributing; let me know on this issue or via [these routes](https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Articles_for_creation/Helper_script/Contributing#Need_help?) if you

[2021-02-21 22:34] enterprisey commented on #131
The comment is inaccurate; changing `[[Category:Foo]]` to `[[:Category:Foo]]` is "disabling" it (or to be completely accurate, "changing it to a link"). So I mean that this line of code should change `[[Category:Rocks]]` to `[[:Category:Rocks]]`, but it should not change `[[Category:Drafts about people]]` to `[[:Category:Drafts about people]]` because Category:Drafts about people is a subcategory

[2021-02-21 23:28] MobolanleAdebesin commented on #105
@enterprisey awesome, thanks!

[2021-02-22 00:03] enterprisey opened #144 "Use ResourceLoader on the English Wikipedia"
No more userspace loading.

[2021-02-22 05:27] satcasm commented on #131
Hey @enterprisey , so I started small with the "cheating method".
This is my code of updateCategories:
![image](https://user-images.githubusercontent.com/56315878/108666160-82cd3800-74fc-11eb-87cb-4472933c671b.png)
This is of else part:
![image](https://user-images.githubusercontent.com/56315878/108666200-98426200-74fc-11eb-9244-fea3ea2c39fb.png)
Can you tell what next step would be? I mean how to

[2021-02-22 07:15] enterprisey commented on #131
In both of those functions, `text` is the whole text of the page; you may want to pass a function as the second parameter to `replace` in cleanUp.

[2021-02-22 07:59] enterprisey commented on #115
Instructions: In the handleAccept function in submissions.js, in the part where we handle WikiProject banner templates, we should find WikiProject templates using a regular expression and remove `class=draft` from them. Perhaps something like replacing `{{(wikiproject.+?)\|class=draft(.+?)}}` (regex pseudocode, of course) with `{{$1$2}}` might work.

[2021-02-22 08:06] satcasm commented on #131
But for the time being is there something wrong with this code ? I mean I am using ```.test``` which should work just fine. Also how to get into the else part? If I accept an article it's just going into ```if(isAccept)``` loop.

[2021-02-22 09:06] enterprisey commented on #131
Yeah, if you use `text` then if you have two categories (and only one is a subcategory of Category:Draft articles), the code will act as if both are subcategories, which would be buggy. To use the else part, try using "clean", which you can get to by opening the "<<" menu on the far right side of the main menu.

[2021-02-22 09:11] satcasm commented on #131
Okay so what should I pass along with the ```text``` as the syntax of categories and subcategories is similiar?

[2021-02-22 09:18] enterprisey commented on #131
I would recommend creating a helper function, getDraftArticlesSubcats, that returns a list of categories; for now, you could just have it return a hard-coded array with a single item for testing, like Category:Drafts about people. Then, in updateCategories, check if `category` is in that returned array, and return from the callback if true. And in cleanUp, make the second parameter of .replace a c

[2021-02-23 05:38] Umang03 commented on #85
hey ! i want to work on this issue . plz assign this to me .

[2021-02-23 05:46] enterprisey commented on #85
Instructions:
1. Change the line `whitelistRequired: mw.config.get( 'wgDBname' ) !== 'testwiki'` in src/modules/core.js to `whitelistRequired: true`
2. Verify that you are unable to review drafts, such as by going to the test draft you created at test.wikipedia.org/Special:MyPage/draft during the [developer setup](https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Articles_for_creation/Helper_scr

[2021-02-23 05:50] enterprisey commented on #85
Background information: The page "Wikipedia:WikiProject Articles for creation/Participants" is used to list users who have been approved to use the script. Administrators add new user names to that page following the existing format. Sometimes administrators add usernames with the wrong case. On Wikipedia, user names are case-**insensitive** for just the first letter (enterprisey and Enterprisey a

[2021-02-23 08:06] earwig opened #145 "When declining, error if no reason is selected"
I made [this silly mistake](https://en.wikipedia.org/w/index.php?title=Draft:Venge.io&diff=prev&oldid=1008431960) because I didn't select anything from the reason dropdown, resulting in `undefined`. The script should refuse to continue without a reason selected, and maybe even suggest "custom" if I've written some freeform text.

[2021-02-23 11:11] RedDragonWebDesign commented on #113
I encountered this today. Here's a diff.

https://en.wikipedia.org/w/index.php?title=Anna_%C3%85bergsson&diff=1008431160&oldid=1008431155&diffmode=source

[2021-02-23 13:11] primefac commented on #113
If I had to guess, this duplication is happening as a result of the bot adding categories based on living/dead params input by the user, then the cats being duplicated by the user inputting them manually (i.e. they're putting in the DOB/DOD for the person, _and_ entering the related cats).

[2021-02-23 13:35] primefac commented on #85
Personally, I don't think this is a bug that needs fixing - a list of usernames _should_ be specific to the way the name is displayed in the URL.

[2021-02-24 05:26] enterprisey commented on #85
Sounds fine; closing.

[2021-02-24 05:26] #85 closed

[2021-02-24 05:27] enterprisey commented on #130
@Umang03, would this be fine?

[2021-02-25 09:16] enterprisey commented on #145
Proposed solution: decline (reject) button should gray out and change text to "please select a decline (reject) reason".

[2021-02-25 09:17] enterprisey commented on #90
@puneetdwivedi How is this issue going? Please let me know if you've run into any problems.

[2021-02-25 09:18] enterprisey commented on #140
@ayan-biswas0412 How is this issue going? Please let me know if you've run into any problems.

[2021-02-26 10:54] NovemLinguae commented on #134
I think an AFC log in one's userspace is a decent idea. Twinkle logs CSD, PROD, and XFD, so AFC seems like a reasonable thing to log.

[2021-02-26 10:58] NovemLinguae opened #146 "Add Earwig copyvio check link to AFCH header"
I wrote a userscript to do this last night.

https://en.wikipedia.org/wiki/User:Novem_Linguae/Scripts/AFCTools.js

You could integrate it directly into the tool instead, if you're interested. See spot I highlighted with an orange box in the screenshot below. Since copyvio should be one of the first checks done on a draft, makes sense to have this link front and center, instead of off site, or buri

[2021-02-26 11:00] NovemLinguae opened #147 "Decline reason preview box bug"
Steps to reproduce:

- Go to a random draft
- Hit decline
- Pick a reason
- Hit preview
- Pick a second reason
- The preview box will say something like "bio,v" instead of the reason previews

[2021-02-26 11:05] siddharthvp opened #148 "Should not duplicate existing wikiproject tags on talk page"
See [this edit](https://en.wikipedia.org/w/index.php?title=Talk:Yazmin_Aziz_(musician)&type=revision&diff=985561188&oldid=985561170&diffmode=source), in which the Biography project tag that already existed on the talk page was duplicated.

Suggested fix: parse the talk page for existing wikiproject tags[1], show them using the jquery.chosen select menu allowing the reviewer to remove existing ones

[2021-02-26 14:00] primefac commented on #148
Wasn't this already fixed?

[2021-02-26 14:15] primefac commented on #146
Given that there's already a script (User:The Earwig/copyvios.js) to add the link to the copyvio check to the Tools bar, I see little reason to add it to AFCH as well - it would take me two clicks to get there as opposed to the one currently needed.

[2021-02-26 15:11] siddharthvp commented on #146
I think it wouldn't hurt to have this, and users wouldn't need to install an additional script. Also, having this button here might even encourage more users to do a copyvio check before accepting.

[2021-02-26 15:15] siddharthvp commented on #148
Let me see. Last I checked may have been in October ...

[2021-02-26 15:18] siddharthvp commented on #148
https://github.com/WPAFC/afch-rewrite/commit/4ad387d9e7173137e8db6b3bbbec9df631069198 suggests yes, thanks @enterprisey!

[2021-02-26 15:19] #148 closed

[2021-02-26 21:04] enterprisey commented on #146
Seems like a fine idea to me too. I'd put it on the second line next to the title, to make it obvious what it's going to do.

In a perfect world, that tool would have an API and we could scrape the percent and put it in our interface (so no need to navigate to another page) but I imagine (wouldn't know) that people usually need to check the whole page, so that's probably not a good path to go down

[2021-02-26 21:14] primefac commented on #146
Yeah, we've discussed that with The Earwig in the past, but since Google only allows us a certain number of checks per day (and they're arguably the best) there's no real way for us to automate checking.

[2021-02-27 01:21] earwig commented on #146
Some disorganized thoughts (thanks @enterprisey for the ping):

- I'm not opposed to adding this to the script, even though other ways exist to call it (the submission template itself, my toolbar link, and the MoreMenu gadget).
- However, this particular spot feels too prominent.
- Even if they don't _click_ on the link, just having it as a reminder of "hey, don't forget to check for copyvios" isn

[2021-02-28 07:44] 94rain commented on #138
I think it is not needed for en / zh in the current state. Something like `oneComment ? 'an' : ''` are already handled in the script.

[2021-02-28 15:05] Muditxofficial commented on #115
Hello, i am looking into this issue and was wondering how can i reproduce this error(if that's not too complicated). Also,i searched around submissions.js but found handleAccept works on data parameter, so how could i solve this. I am using prettier vscode extension, should i use it or not as it formatted code which was different from earlier style.

[2021-02-28 18:45] primefac commented on #115
It's not really an error, but if you have a WikiProject banner on the draft's talk page with `class=draft`, the script should remove the "draft" part of the template call.

[2021-03-01 05:41] enterprisey commented on #135
Still an issue, for example if there's an unsigned comment.

[2021-03-01 08:54] enterprisey opened #149 "Remove manual dependency imports"
In non-`beta` mode, we use mw.loader.using to get all the ResourceLoader dependencies. This is wasteful, since ResourceLoader is instructed (using Gadgets-definition) to get them anyway. We should remove the using() call, but there are two users on the English Wikipedia who import the script directly, bypassing ResourceLoader. I have asked them to change over, and in a week I'll do so anyway (as i

[2021-03-02 08:46] Umang03 commented on #130
yes @enterprisey  this would be fine .

[2021-03-02 08:46] Umang03 commented on #130
plz assign this to me .

[2021-03-02 12:09] NovemLinguae opened #150 "Edit summary contains the text "undefined""
Edit summary contains the text "undefined". Happening in all my submissions today. Problem with the version variable? Problem with its scope?

Example edit summaries:
    - "Submitting (AFCH undefined)"
    - "Rejecting submission: e - Topic is contrary to the purpose of Wikipedia (AFCH undefined)"

Diffs:
- https://en.wikipedia.org/w/index.php?title=Draft:Testing&diff=prev&oldid=1009813077
- http

[2021-03-02 12:12] rwjuk opened #151 "summaryAd (edit summary 'tag') contains 'undefined' rather than version"
Example edit: https://en.wikipedia.org/w/index.php?title=Draft:FoxyMoron&diff=prev&oldid=1009804371

It seems [this line](https://github.com/WPAFC/afch-rewrite/blob/3c7b378ba53c86fea47d4e9f0b7711f5db00304e/src/modules/core.js#L79) is to blame here. I imagine (for reasons I've not yet determined) `AFCH.consts.version` is undefined at this point, hence `summaryAd` doesn't get composed properly.

[2021-03-02 13:20] rwjuk commented on #151
Dupe of #150. Oops. Might be worth keeping this for where the problem seems to be.

[2021-03-02 20:21] Pahunkat opened #152 "Informing non-autoconfirmed users they can create articles directly in mainspace"
Example: Accepting [https://en.wikipedia.org/wiki/Joll](url), a DAB created by a non-autoconfirmed user, leads to https://en.wikipedia.org/w/index.php?title=User_talk:Lijomlle&oldid=1009887462 being generated on the user's talk page which states that they can directly create articles in mainspace.

This has been replicated by another reviewer accepting https://en.wikipedia.org/wiki/Jolls

Issue 15

[2021-03-02 20:22] enterprisey commented on #151
fixed 89edacb18511

[2021-03-02 20:22] #151 closed

[2021-03-02 20:22] enterprisey commented on #150
fixed 89edacb18511

[2021-03-02 20:22] #150 closed

[2021-03-02 20:24] enterprisey commented on #152
Although it looks like a bug, apparently the template uses CSS, so it'll show correctly for non-autoconfirmed users: https://en.wikipedia.org/wiki/Template:AfC_talk#Note

[2021-03-02 20:24] #152 closed

[2021-03-02 20:35] #149 closed

[2021-03-02 20:44] enterprisey commented on #144
46b760eb2eddec4 and https://en.wikipedia.org/w/index.php?title=MediaWiki:Gadgets-definition&type=revision&diff=1009766020&oldid=1003856039&diffmode=source

[2021-03-02 20:44] #144 closed

[2021-03-02 22:58] NovemLinguae opened #153 "Overwriting another reviewer's AFC accept/decline/comment (edit conflict avoidance)"
I had this happen today. It is possible to overwrite somebody else's AFC decline, if they finalize their decline while you're writing yours.

Possible solution: When the reviewer presses the decline button, have AFCH check the page history, and if there have been any edits within the last 10 minutes, give the reviewer a warning when submitting.

Possible solution # 2: When AFCH loads, save the cur

[2021-03-04 03:01] suryagowda commented on #147
I found no issues in this project afch-rewrite.Are all the issues closed?

[2021-03-04 06:56] NovemLinguae commented on #147
No. I see 57 open issues.

[2021-03-04 07:04] suryagowda commented on #147
yes.. sorry, But when i open the issue... There was no code. I can see only few comments

[2021-03-04 08:31] enterprisey commented on #147
@suryagowda we have plenty, and you're commenting on one right now! feel free to take a look at [this list of issues for newcomers](https://github.com/WPAFC/afch-rewrite/issues?q=is%3Aissue+is%3Aopen+label%3AE-good-first-issue) or [our developer guide](https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Articles_for_creation/Helper_script/Contributing).

...I would certainly be happier if we had n

[2021-03-04 08:47] enterprisey commented on #115
@Muditxofficial thanks for your interest! sorry for the delay in responding. to reproduce, sign into your wikipedia account, click [this link](https://test.wikipedia.org/w/index.php?title=Special:MyPage/draft&action=edit&preload=Template:submit), and click "publish page" at the bottom. That will create a new draft page. Then click on the "discussion" tab at the top (the text should be red, indicat

[2021-03-10 16:20] Adityachaturvedi2906 commented on #145
Hey, @enterprisey This bug looks interesting, so it's my request to assign me this bug and guide me on the same.

[2021-03-11 17:09] imyashl commented on #145
Hey @enterprisey, I would like to work on this issue, can you please guide me further on the same?

[2021-03-12 08:34] enterprisey commented on #15
As of the current day, FFU and AFC/R have their own scripts.

[2021-03-12 08:34] #15 closed

[2021-03-12 08:34] enterprisey commented on #39
fixed in #155

[2021-03-12 08:34] #39 closed

[2021-03-12 08:36] enterprisey commented on #16
Script switching can be handled by other tooling. I don't think this is an especially common use-case. WONTFIX; patch welcome, of course, but again I really don't see anyone using this besides developers, who could just roll their own stuff.

Also, these days there's just one version of the script; back then we had develop, beta, and the current release, and indeed the ability to switch between th

[2021-03-12 08:36] #16 closed

[2021-03-12 08:43] enterprisey opened #156 "Rename "Decline submission" button to "Reject submission" when "Reject" radio button selected"

[2021-03-12 08:55] enterprisey commented on #145
@Adityachaturvedi2906 sure, done. @imyashl I have recently added the good-first-issue tag to #106 and #156; feel free to pick one of them. 106 is harder but more interesting.

[2021-03-13 03:03] Muditxofficial commented on #115
@enterprisey Sorry for being inactive as my script was not working properly.Also i am attaching a screenshot, i think we need to remove "class=" part. It will be nice if you could share a regex resource as i only found some basic yt and didn't understand stackoverflow discussions.
![afch3](https://user-images.githubusercontent.com/63860014/111016936-8a368180-83d6-11eb-92b0-01f20a1e3111.png)

[2021-03-14 09:36] enterprisey commented on #115
In that screenshot, I think there's something strange going on; on [the actual talk page](https://test.wikipedia.org/wiki/User_talk:LightxMudit/draft) I see a banner but there's no banner on the talk page text in that screenshot. But yes, that `text` field is the part to look at, and the idea is to get rid of `class=draft` whenever it appears. In the screenshot, there's just `class=` without the d

[2021-03-18 11:02] vartikaSaxena commented on #156
Hey, @enterprisey I want to work on this issue, could you please guide me about it...

[2021-03-19 18:11] Ankur21980 commented on #90
Hello! @enterprisey, I would like to work on this issue. Is it open yet?

[2021-03-20 08:45] enterprisey commented on #156
@vartikaSaxena hi! thank you for your interest. unfortunately issue #145 is currently being worked on by someone, and this issue would be fixed as a result of that work. I should have closed this issue at that point but forgot to; apologies. Please pick another issue, or ping me in a new topic in [our Zulip channel](https://wikimedia.zulipchat.com/#narrow/stream/273783-enwiki-afch) so we can talk

[2021-03-20 08:45] #156 closed

[2021-03-20 08:51] enterprisey commented on #90
@Ankur21980 hi! I would like to not assign this issue to someone else just yet - if you really want to work on this issue, please wait until the person currently assigned has not responded for another week. Alternatively, please ping me in a new topic in [our Zulip channel](https://wikimedia.zulipchat.com/#narrow/stream/273783-enwiki-afch) - there are more issues that do not have the good-first-is

[2021-03-20 12:53] vartikaSaxena commented on #156
Aright. No problem

I would surely find some other issue to work on.
Since I am a beginner at this, it would be great if you could assign me
some beginner issues.

On Sat, 20 Mar 2021 at 14:15, enterprisey ***@***.***> wrote:

[2021-03-20 16:48] codeswithroh commented on #140
Can I work in this issue too ?

[2021-03-20 16:52] codeswithroh commented on #106
@enterprisey Can I work in this issue ?

[2021-03-24 07:47] NovemLinguae commented on #153
Happened again to me just now. Here's an example.

https://en.wikipedia.org/w/index.php?title=Draft:Dhanusha_Murugasan&type=revision&diff=1013933947&oldid=1013933811&diffmode=source

[2021-03-24 13:11] primefac commented on #153
This is a duplicate of #116

[2021-03-25 19:29] Yash-g17 commented on #106
Hey @enterprisey  and @AntiCompositeNumber , I'd love to work on this issue
Can you please assing me ?

[2021-04-02 13:46] asrgaohifd opened #158 "Suggesion: Add option to select more than two reasons for declining a draft"
There have been multiple instances where I have reviewed drafts that fall under more than two reasons for declining a draft and it would be helpful to select more than two.

[2021-04-05 12:35] primefac commented on #158
There should always be one (or two) main reasons for declining. For example, a draft that fails `prof` likely also fails `v`, `rs`, and/or `ilc`, and those reasons are already included in prof's decline reason, so there's not much purpose in also declining as those. In other words, I do not see a reasons to include more than one decline rationale (if the draft needs that much work, it's probably b

[2021-04-07 12:56] vartikaSaxena commented on #106
Hey @enterprisey, if this issue is still open I would like to work on it.

[2021-04-07 12:59] vartikaSaxena commented on #140
Hey, @ayan-biswas0412 if you are not working on this issue I would like to continue with it.

[2021-04-07 13:03] vartikaSaxena commented on #105
@enterprisey is this issue resolved? If not, I would like to work on it.

[2021-04-07 13:18] ayan-biswas0412 commented on #140
sure

[2021-04-09 05:02] enterprisey commented on #140
@vartikaSaxena assigning this to you, then

[2021-04-09 05:04] enterprisey commented on #158
Yeah, I originally figured you can have two reasons of equal importance, but when you get to three reasons one of them will be less important than the other two. Either way, I would be happier if there were consensus, or at least someone else agreeing with you, on [WT:WPAFC](https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation).

[2021-04-09 06:02] vartikaSaxena commented on #140
Thanks! @enterprisey

[2021-04-09 08:59] NovemLinguae opened #159 "Display comment on user's talk page when declining a copyvio"
Steps to reproduce:
- decline a submission
- select copyvio for the reason
- type a comment
- hit decline

Expected behavior:
- user talk message containing the comment

Actual behavior:
- user talk message with no comment

My comment:
![image](https://user-images.githubusercontent.com/79697282/114155884-d510bf80-98d6-11eb-8676-a0616ebf3b08.png)

What her user talk page looked like. Notice the com

[2021-04-11 10:03] NovemLinguae opened #160 "Display notice when draft has been deleted before"
Similar to how a notice is given when the mainspace article has been deleted before, consider also displaying a notice for when the draft has been deleted before.

Example: https://en.wikipedia.org/wiki/Draft:Jack_Maguire_(violinist). Has both mainspace and draft deletes.

Consider filtering out G13's from draft deletion notices, since those aren't anything bad or alarming.

Consider filtering out

[2021-04-28 11:50] NovemLinguae opened #161 "Display submission date and age on submitted drafts"
Under "There are 5,533 pending submissions waiting for review", consider adding a line that says "This draft was submitted on April 5, 2021, and has been awaiting review for 47 days."

This is good info for a reviewer to have when visiting the draft for the first time, if they are coming from a list of drafts that is not in chronological order.

![image](https://user-images.githubusercontent.com/7

[2021-04-28 12:06] primefac commented on #161
This is a template-side issue, not an AFCH issue. Should be placed at Template_talk:AfC_submission.

[2021-04-28 12:08] NovemLinguae commented on #161
Ah true. I'll close this one. My apologies.

[2021-04-28 12:08] #161 closed

[2021-05-09 02:08] Jeeputer commented on #138
@enterprisey Hi. I am trying to have a Persian version of the afch-rewrite. Do you still plan to create the file you mentioned here? Thanks.

[2021-05-18 04:57] NovemLinguae opened #162 "Leave comment on draft when selecting copyvio"
If you decline a draft for a copyright violation, and you type a comment, the comment is not left in the draft. I would suggest leaving it in the draft, like comments for the other decline reasons.

[2021-05-18 04:58] NovemLinguae commented on #162
Related but not identical: #159

[2021-05-20 12:23] NovemLinguae opened #163 "Add reviewer's name to Wikipedia:Articles_for_creation/recent?"
Consider adding the reviewer's name (and user, user talk, and contrib links) to https://en.wikipedia.org/wiki/Wikipedia:Articles_for_creation/recent

[2021-05-20 15:15] NovemLinguae opened #164 "When declining for copyvio and 1 other reason, only copyvio displays on user talk page"
I picked 2 decline reasons:
![image](https://user-images.githubusercontent.com/79697282/119004443-70b83580-b943-11eb-8948-f1be0ecf9560.png)

But only one showed up on the user talk page:
![image](https://user-images.githubusercontent.com/79697282/119004345-52ead080-b943-11eb-864e-72eebe3ac460.png)

[2021-05-21 13:35] primefac commented on #163
Genuinely curious, is there interest in this? I don't recall this ever being discussed at WT:AFC. Not saying I'm opposed, necessarily, but there should be a consensus to implement a change like this.

[2021-05-24 21:31] helper-uttam commented on #126
Hi perryprog, If I am not wrong then this issue is somehow related to grammatical error?

I mean that the mentioned sentence " Declining submission: v - Submission is improperly sourced and nn - Submission is about a topic not yet shown to meet general notability guidelines (be more specific if possible) " has to be written in more efficient way?
Please let me know about this.

[2021-05-26 16:01] NovemLinguae opened #165 "AFCH displays "editconflict", posts nothing to draft, posts to user talk"
A type of edit conflict when declining drafts

Related to #153 , but slightly different.

In this type of edit conflict, AFCH gives an error, doesn't post anything to the draft, but still delivers a user talk message.

A workflow that can detect the edit conflict and fail gracefully would be ideal. The script would want to avoid writing to user talk, and reload the AFCH modal, and pre-fill the dec

[2021-06-02 21:26] NovemLinguae opened #166 "TypeError when running AFCH through MusikAnimal/scriptManager"
![image](https://user-images.githubusercontent.com/79697282/120554339-7899c000-c3ae-11eb-89e5-e3377f8ed228.png)

https://en.wikipedia.org/wiki/User:MusikAnimal/scriptManager

[2021-06-05 14:19] aknouche commented on #105
@enterprisey I am very happy that I have found this project. I am interested in fixing this bug. I am a first time contributor to this project. Can you assign it to me? Thanks!

[2021-07-01 07:02] NovemLinguae commented on #110
This was recently mentioned again at [[WT:AFCR]]. https://en.wikipedia.org/w/index.php?title=Wikipedia_talk:WikiProject_Articles_for_creation&diff=1031209195&oldid=1031109312&diffmode=source

[2021-07-09 18:51] NovemLinguae opened #167 "When accepting, remove {{Promising draft}} tag"
Suggested by robertsky at [[WT:AFCR]]

https://en.wikipedia.org/w/index.php?title=Wikipedia_talk:WikiProject_Articles_for_creation&diff=1032731561&oldid=1032728655

[2021-07-13 08:35] NovemLinguae opened #168 "Order of comments that don't use {{AFC comment}} gets scrambled"
Example: https://en.wikipedia.org/w/index.php?title=Draft:Center_for_Rural_Development&oldid=1033372395

Note the 4 {{AFC comments}} generated by AFCH, and the two non {{AFC comments}} left by the IP. They were originally indented replies to the comments above, under specific comments. AFCH scrambled them, moving them to the bottom. It'd probably be better if AFCH left the order alone.

![image](h

[2021-07-13 10:02] primefac commented on #168
While this can certainly be seen as an issue, from a BAG perspective I would see this as a CONTEXT issue; how does the bot know what's a reply to a comment, and what's just random text thrown in? I've seen {{AfC comment}} templates used at the very bottom (below the new {{submit}} tag), and if some sort of "keep everything between the AfC comments static" fix were put into place, that draft would

[2021-07-29 15:53] Dreamy-Jazz commented on #153
With the latest AfC drive I've seen three editors edit conflict to review a draft and the script overwrite each in turn.

[2021-07-29 20:17] NovemLinguae opened #169 "WikiProject Women missing"
When accepting a draft, there's a combo box with a list of WikiProjects. WikiProject Women is missing from it. There may be other WikiProjects missing too, but I think this one is worth a ticket, since half of all biographies probably need this tag.

[2021-07-29 20:23] NovemLinguae opened #170 "Remove some biography text boxes from accept screen?"
When accepting a draft and checking the biography check box, this displays additional text boxes that collect information. It seems like some of these may be unused. Consider examining the code to see if they are unused, then removing them.

Possibly unused:
* Description - or instead of removing this one, could have this add a {{short description}} instead
* Place of birth
* Place of death
* Mont

[2021-07-30 00:48] primefac commented on #170
See also https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/2020_2#Place_of_Birth in which it was mentioned that these used to be used, but the templates using the information don't exist any more and thus these values are not stored anywhere.

[2021-07-31 14:17] robertsky commented on #170
Description: Agreed that this can be used for {{short description}} instead.

Place of birth/death, month and day of birth/death
To summarise what I have read through [TfDs](https://en.wikipedia.org/wiki/Wikipedia:Templates_for_discussion/Log/2016_June_26#Template:Persondata) and [RfC](https://en.wikipedia.org/wiki/Wikipedia:Village_pump_(proposals)/Archive_122#RfC:_Should_Persondata_template_be_d

[2021-08-01 00:49] NovemLinguae opened #172 "When commenting, edit conflict prevents comment from being posted"
Here's one where I left a comment, but somebody edited the draft before I posted the comment. The comment did not go through, but the talk page message to the user that I made a comment went through.

https://en.wikipedia.org/w/index.php?title=User_talk:Ricardo_Fett&diff=prev&oldid=1036508008

[2021-08-02 06:33] robertsky commented on #138
@enterprisey, for certain messages like those we leave on user talk pages, can we offload to the Template namespace? this will reduce the need to translate or customise messages for the different language wikis.

[2021-08-07 07:59] robertsky opened #173 "Add timestamp and user when fixing empty {{AfC submission}} template"
example: https://en.wikipedia.org/w/index.php?title=Draft:Frank_Stubbs_Promotes_(TV_Series)&type=revision&diff=1037549705&oldid=1037331040&diffmode=source

[2021-08-07 10:40] primefac commented on #173
Genuinely curious, which timestamp would it use? The time of the reviewer or the time it was submitted? Anecdotally, undated submissions can sit for up to a week before being noticed, though I suppose in the grand scheme of things that's not a huge delay.

The one thing I _would_ like to see is AFCH not using the timestamps in the /draft version to populate the /pending, as it has occasionally res

[2021-08-07 14:02] robertsky commented on #173
Ideally the timestamp of when the template was last inserted. But if it is undoable, the timestamp of when the cleaning up is done.

[2021-08-07 19:18] primefac commented on #173
Yeah, I guess in thinking about it more the fact that is has been submitted means the timestamp should be from that edit. The /draft timestamp issue is another problem entirely.

[2021-08-09 07:19] #133 closed

[2021-08-17 07:52] abarsha commented on #106
hey @enterprisey can i be assigned in this issue? i would love to work with it

[2021-08-17 08:35] enterprisey commented on #106
@codeswithroh @Yash-g17 @vartikaSaxena if you're still interested in working on this issue, please add a comment here saying that. If two or more people are interested, the one who posted the original comment earlier has precedence. Or if you want to work together I'd be happy with that too.
@abarsha if none of them respond in a day you can have it

[2021-08-17 09:15] Yash-g17 commented on #106
@enterprisey I'm still interested

[2021-08-17 09:20] abarsha commented on #106
@Yash-g17  hey can we work together?

[2021-08-17 09:33] Yash-g17 commented on #106
@abarsha Yeah sure , but I'm not sure if this task requires two people , @enterprisey can you please guide us on this

[2021-08-17 09:53] abarsha commented on #106
@Yash-g17 well even if this task needs one person other one can have experience and learn things which all we need. I guess it will beneficial for both of us

[2021-08-17 10:18] enterprisey commented on #106
yeah, two people will be fine. there are many ways it can be split up. one way we can split it up is one person does the user interface (the message "this user is blocked", and it should also show the block reason), and the other person does the API call. If that sounds good let me know. there are other ways it can be split up, too. we can coordinate on Zulip if you both would like.

[2021-08-17 10:30] abarsha commented on #167
Can i be assigned for this issue? i would love to work

[2021-08-17 10:41] enterprisey commented on #167
@Yash-g17 does this one look interesting, or do you want to work on 106 with abarsha (who wants to work with the API)?

[2021-08-17 10:41] abarsha commented on #167
@enterprisey  i want to work with API

[2021-08-17 12:14] Yash-g17 commented on #167
@enterprisey , Collaborating with abarsha seems good

[2021-08-18 05:41] paul-111 commented on #167
@Yash-g17  hey any further update?

[2021-08-18 06:14] enterprisey commented on #106
yeah. for this PR you will add a new function checkIsSubmitterBlocked() inside getSubmissionWarnings(), which is in src/modules.submissions.js.
@paul-111 you can start with figuring out which API call you would need to check if a particular user is blocked. for now you can start with the URL (i.e. https://en.wikipedia.org/w/api.php?some=stuff&goes=here). once you get that, try writing the JS to pe

[2021-08-18 06:55] paul-111 commented on #106
@enterprisey  hey is there any deadline?

[2021-08-18 07:34] enterprisey commented on #106
Nope :)

[2021-08-19 05:44] robertsky opened #175 "References header is removed when {{reflist}} or <references/> is not present during acceptance"
See https://en.wikipedia.org/w/index.php?title=Milt%27s_Stop_%26_Eat&diff=prev&oldid=1039518490&diffmode=source

[2021-08-20 23:50] primefac commented on #175
It's probably better to just add the {references} template if it's not present, but I can see logistical issues. Good spot on the issue though.

[2021-08-21 19:03] perryprog opened #176 "Allow adding an {{AFC Submission}} template without submitting the draft"
Sometimes during draft creation the original `{{AfC submission|T}}` bit of code gets eaten up somewhere. This can often lead to confusion with being then unable to follow instructions that state to "press the 'submit your draft for review' button", as that doesn't exist. AfC reviewers then sometimes need to add this themselves manually, which is something that could be trivially automated.

While

[2021-08-21 21:04] primefac commented on #176
Regarding your last point ("post here for discussion") there are very few AFC editors who frequent this board. I would suggest potentially posting at WT:AFC and see what the general populace thinks. It will also help us get a better idea (if "needed") of which of the three options should be looked at to implement.

[2021-08-21 21:14] perryprog commented on #176
Oops, good call. I've done so [here](https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation).

[2021-08-23 08:44] Yash-g17 commented on #106
@enterprisey I'm done with my part

[2021-08-23 20:22] enterprisey commented on #106
@Yash-g17 cool. Can you post your code in this discussion if it's not too long? paul-111 also finished their part and I've asked them to post it here as well. You all are making great progress.

[2021-08-28 17:47] GeoffreyTrang opened #178 ""Cleaning up submission" edits should be minor edits"
When one clicks on the "Clean submission" link, the draft will be cleaned up with an edit summary that says "Cleaning up submission (AFCH 0.9.1)". Such edits should be marked as minor edits by the script, but they currently are not minor edits.

[2021-09-03 02:22] souravnmaji commented on #105
I want to contribute to this issue , can anyone guide me further

[2021-09-03 08:01] enterprisey commented on #105
@vartikaSaxena @aknouche @souravnmaji see https://github.com/WPAFC/afch-rewrite/issues/105#issuecomment-778126198, you may all work on it together or separately

[2021-09-03 08:04] Vukkyy opened #179 "Watch user talk page temporarily"
It would be nice to have a setting for changing how long you want to watch pages for using Watchlist Expiry - I kind of doubt you want to watch the same draft for 6 months.

[2021-09-03 11:26] primefac commented on #179
I don't know why the script would be in charge of this, given how many other tools (including inbuilt ones) exist to set expiration times for the watchlist. And if you think about it, drafts get G13'd after six months, so having any sort of default at that time frame makes sense (though _does_ the script set watchlist times, or is that a personal-preferences type thing?).

[2021-09-03 12:14] vartikaSaxena commented on #105
Sure. Thanks! @enterprisey.
Since, I am a beginner I would be happy if @aknouche or @souravnmaji also want to work on it.

[2021-09-04 20:25] Vukkyy commented on #179
It appears as if I may have slightly forgotten how the script and API works when submitting this (oops) - it adds the user's talk page to the watchlist permanently when leaving a notice, not the draft, unless the draft is in root userspace (see #76).

Although... I'd imagine you probably don't expect a user to suddenly type a reply on their talk page 3 months later out of nowhere :p

If this were

[2021-10-23 07:56] enterprisey opened #181 "Submission glitch"
https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/Archive_39#AFC_submit_glitch

[2021-10-23 07:58] enterprisey opened #182 "Internet Explorer detection"
https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/Archive_38#Reviewer_not_responding_to_concerns

[2021-10-28 19:47] zanhecht opened #185 "On the accept screen, WikiProjects are not correctly detected when inside of {{WikiProject banner shell}}"
The script lists WikiProject banners on the talk page, but the script does not count WikiProject banners wrapped in {{WikiProject banner shell}}. This also causes redundant WikiProject Biography templates to be added if the "biography" box is checked.

I noticed a comment in the source that "We only want top level templates", but an exception should be made for {{WikiProject banner shell}}.

Scree

[2021-10-31 14:42] siddharthvp commented on #185
Is there any script that does this correctly? I think there are some 4-6 scripts that add project banners to the talk page:
*AFCH
*AFC-submit-wizard.js
*AFC-add-project-tags.js
*Various draft sorter user scripts

It's good most of these scripts are now at least using the same data source. Ideally they could even use the same logic for adding/removing banners - because that's definitely involved.

[2021-10-31 14:46] zanhecht commented on #185
I have a draft sorter script that both detects and adds WikiProject banners within the banner shell, but its logic is a lot simpler that the AFCH script: https://en.wikipedia.org/wiki/User:Ahecht/Scripts/draft-sorter.js

[2021-10-31 14:51] siddharthvp commented on #182
There's just one version of IE today on which MW loads any javascript: IE 11. Not sure if there were other versions supported in 2019 (I think not).

Tangential comment: twinkle is fully compatible with IE 11.

[2021-11-02 13:12] siddharthvp opened #187 ""The submission contains <ref> tags, but has no references list! You may not see all references.""
This is no longer the case. MW software now does show all references at the bottom of the page even if {{reflist}} is not present. The message can be reworded or removed.

[2021-11-02 13:41] primefac commented on #187
I think if anything it should be reworded - if for some reason the reviewer has not noticed the {{reflist}} template is missing, they should add it before approving (or declining) the draft, if only to save someone else the hassle of finding and fixing the issue later down the road.

[2021-11-02 21:47] enterprisey commented on #187
Perhaps {{reflist}} should be automatically added?

[2021-11-02 21:49] primefac commented on #187
If you want to find a way to add it into the middle of everything...

The most obvious issue I would see is if there was an ==External links== but no ==References==, so even appending the reflist before the newly-added cats would still put them in the wrong place. I know there are bots that have scripts that know precisely where to put the reflist, but I don't know where that would fall in the "ad

[2021-11-03 07:10] siddharthvp opened #188 "Invalid LICENSE"
According to the license file, this software is released under GPL v3. However, GPL is not compatible with CC-BY-SA 3.0 which is required for any material pasted on to the wiki.

IANAL, but I _think_ this should be dual-licensed as GPL + CC-BY-SA. The code is already implicitly released under CC-BY-SA by virtue of being copied to the wiki.

[2021-11-03 07:12] siddharthvp commented on #169
As of now, wikiprojects list is read off https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Articles_for_creation/WikiProject_templates.json that can be edited on-wiki. The list does include WikiProject Women.

[2021-11-03 07:12] #169 closed

[2021-11-05 01:20] enterprisey commented on #188
Heh, yeah, the licensing situation is very dubious. Dunno what to do about it.

[2021-11-05 04:13] robertsky commented on #188
We can take a leaf from WordPress Gutenberg dual licensing situation, to ask for permission to dual license the codes here. Over there, the dual licensing timeline is slow due to them having hundreds of the contributors and thousands of LOCs. https://make.wordpress.org/core/2021/03/05/dual-licensing-gutenberg-next-steps/ We have 16 contributors on this project, a couple of hundreds of LOCs to seek

[2021-11-07 06:27] enterprisey commented on #185
The AFCH script overcomplicates some things. It would be worth it to consider whether Ahecht's code can be adapted for use here.

[2021-11-11 15:38] siddharthvp opened #190 "Allow adding/editing shortdesc while accepting"
At the moment the acceptance form does ask for "Description of the subject" for bios, but the value entered seems to just go into the void. I'm assuming this is a remnant from when persondata used to be supported?

In any case, short description support would be good to have. From what I've seen, most folks tend to add appropriate shortdescs while submitting, but [sometimes not](https://en.wikiped

[2021-11-11 15:46] primefac commented on #190
There's been a push to update the "accept" values the reviewer needs to input, but I never thought to just change that description to a straight-up {{short description}}. Genius. While we're on the subject, though, it might be worth checking out _all_ of the fields the "accept" menu gives, and remove or re-target anything that isn't useful.

[2021-11-11 15:50] primefac commented on #190
![image](https://user-images.githubusercontent.com/32815136/141327517-80d99c67-ad19-4ef7-a07f-238766a8154a.png)
 The above is for an accepted biography of a dead person. If "living" is chosen the death info doesn't show, and if the biography box isn't checked than none of the subsequent info shows.

[2021-11-11 16:13] siddharthvp commented on #190
Looking at the source code, the script doesn't seem to use the values entered in "Description of the subject", "Month and day of birth", "Place of birth", "Month and day of death", "Place of death" anywhere at all – they're simply discarded!

[2021-11-11 16:23] DawnArchi01 commented on #106
hey ! I see no assignees to this project . I would love to contribute to the project . Since I'm quite new here , it would be really helpful if you can guide whenever necessary . @enterprisey

[2021-11-11 16:29] DawnArchi01 commented on #115
hello , I'm interested to work on this project . @enterprisey can you assign me ?

[2021-11-11 16:32] siddharthvp commented on #190
Opened #191 to remove those.

[2021-11-12 03:25] siddharthvp opened #193 "Use a simple HTTP dev server"
Is there a reason to use an HTTPS server for localhost development? I don't know if it made sense in the 2010s when it was put in place, but don't think it makes any sense now. An http server is very easy to work with - no need to generate certs or install them into the browser or anything.

[2021-11-12 04:25] siddharthvp opened #194 "Show possible copyvio alert in UI"
The data is already available - compiled by [EranBot](https://en.wikipedia.org/wiki/User:EranBot). It can be retrieved using the PageTriage API:

- https://en.wikipedia.org/w/api.php?action=pagetriagelist&show_predicted_issues_copyvio=1&page_id=66372196 It says ` "copyvio": "1000135534"` indicates revid containing copyvio
- https://en.wikipedia.org/w/api.php?action=pagetriagelist&show_predicted_is

[2021-11-12 07:17] NovemLinguae opened #195 "Decline and reject messages sometimes sent to [[User talk:Null]]"
Appears to have started on November 11, 2021, so likely related to a recent code change.

https://en.wikipedia.org/wiki/User_talk:Null

Discussion at: https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation#Script_misbehaving

[2021-11-12 08:46] enterprisey commented on #195
should be alright; I've made a silly little patch to the onwiki version (https://en.wikipedia.org/w/index.php?diff=1054825110) that should probably not go into the official version. issue with wizard resolved, see discussion

[2021-11-12 08:46] #195 closed

[2021-11-13 12:30] siddharthvp commented on #166
I don't think there's anything for us to do here. The issue is as described in my (SD0001's) comment in the screenshot.

[2021-11-14 11:53] siddharthvp commented on #178
Done in #184. (@zanhecht you can mention "Closes #178" or "Fixes #178" in the commit message or PR to automatically trigger closure of the issue when the patch is merged).

[2021-11-14 11:53] #178 closed

[2021-11-19 13:25] NovemLinguae opened #200 "Integrate DraftCleaner script with AFCH clean submission button"
[Novem Linguae's DraftCleaner](https://en.wikipedia.org/wiki/User:Novem_Linguae/Scripts/DraftCleaner.js) is a user script that cleans up drafts by running regex's on its wikitext.

<details>
    <summary>List of DraftCleaner features</summary>

[code]
</details>

@enterprisey suggested that DraftCleaner be merged into AFCH [here](https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_fo

[2021-11-22 22:45] PriyanshSarvehi opened #201 "Issue "generating-certificates""
As according to the readme file I initiated npm start and it threw me this error:
![Screenshot 2021-11-23 041135](https://user-images.githubusercontent.com/92828382/142945953-289fadce-5c68-48d2-8d0f-09901b464044.png)
After running npm run generate-certificates it gave me this error:
![Screenshot 2021-11-23 041031](https://user-images.githubusercontent.com/92828382/142946048-3c1976f7-4f89-4fcf-b5c8

[2021-11-26 13:48] NovemLinguae opened #202 "Declining for copyvio AND not selecting G12 should still display copvyio URL on draft"
URL is displayed in `{{AFC submission|d|cv` if user checks the "delete" check box (which is correct behavior), but is not displayed if the check box is not checked (this appears to be a bug)

Reported by Gpkp. Discussion at https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation#AFCH_reviews

Possible culprit is at https://github.com/WPAFC/afch-rewrite/blob/master/src/module

[2021-11-28 16:43] dikshatakyar commented on #201
@PriyanshSarvehi try running the setup instructions on Git rather than windows cmd. I was facing the same error and it worked for me. :)

[2021-11-28 17:08] dikshatakyar opened #203 "Unable to load Certificate in the browser"
While loading the certificates in my browser, I can't see the file which we have to upload, which is myCA.pem . All it shows is a localhost file certificate when I select the certificates folder for uploading.

![image](https://user-images.githubusercontent.com/75247382/143778344-03d62321-075e-44df-94a8-12ca5fe7cd1a.png)

I have asked doubts in Zulip as well (in enwiki-afch stream) but didn't get

[2021-12-01 18:29] PriyanshSarvehi commented on #201
@dikshatakyar yea i tried that too ......
I was encountering two issues:
1. I'm constantly facing one vulnerability issue which isnt being patched with npm audit fix command
2. after running npm run generate-certificates:
$ npm run generate-certificates

You will be asked for a passphrase. You will not have to use it after this script is done. It must be 4 or more characters long. You will have to

[2021-12-01 18:56] dikshatakyar commented on #201
@PriyanshSarvehi I guess when this paraphrase instruction ends,we have to enter any keyword which is >4 characters and it will be asked four times in the setup. when the instruction says `Enter pass phrase for certificates\myCA.key:` you have to write any keyword, as far as I remember it won't be visible on the cmd. So if you are thinking that you are typing something and it's not visible on the c

[2021-12-01 19:03] PriyanshSarvehi commented on #201
@dikshatakyar well it did 😅

[2021-12-02 04:12] dikshatakyar commented on #201
@PriyanshSarvehi great,you're done with the setup?

[2021-12-02 04:18] PriyanshSarvehi commented on #201
@dikshatakyar actually no
Stuck again

[2021-12-02 04:22] PriyanshSarvehi commented on #201
my problem #1 still persists

[2021-12-02 04:23] PriyanshSarvehi commented on #201
also after npm start cmd just pops up
what to do of it?

[2021-12-03 15:14] dikshatakyar commented on #201
@PriyanshSarvehi , do you have grunt installed on your local machine ?

[2021-12-03 18:44] PriyanshSarvehi commented on #201
Yes I have it installed @dikshatakyar

[2021-12-06 07:11] SHIVANGISINGH1 commented on #105
I want to contribute to this issue ,but I can not find the draft page and the comments section can you tell me where I can find it.

[2021-12-07 10:44] enterprisey commented on #193
@siddharthvp I originally went with https because I thought the http approach was insecure (because you have to do some sort of messing around with flags). But I'm no web developer, so if you think it'll be fine (and it's the standard way to do things) then I'm all for it. Clearly a lot of people are having issues with it and if they're wasting their time we better get that obstacle out of their w

[2021-12-08 09:04] cryptic-pr03 commented on #203
can you verify whether myCA.pem is present in the directory or not.

[2021-12-08 09:11] cryptic-pr03 commented on #203
@dikshatakyar can you please verify whether myCA.pem is present in the directory or not..
If yes, then there are _4 tabs_ while loading certificate in Chrome "ubuntu". select the **Authority tab** and then import **myCA.pem**.

![image](https://user-images.githubusercontent.com/92126782/145180861-7104644a-5c16-4e68-b540-7d1da22b56df.png)

Hope it helps :)

[2021-12-08 12:12] dikshatakyar commented on #203
@cryptic-pr03 thanks for the help !

[2021-12-08 23:19] enterprisey commented on #203
yeah sorry about all the bother... I'm thinking of getting rid of all of this nonsense with certificates soon, if I can be convinced that it's not a security issue

[2021-12-15 02:21] NovemLinguae opened #205 "When accepting, remove talk page redirect if present"
https://en.wikipedia.org/w/index.php?title=Talk:Birmingham_Botanical_Gardens&diff=prev&oldid=1060309837&diffmode=source

[2021-12-15 07:22] primefac commented on #205
Is this an actual issue? I have honestly never seen this before.

[2021-12-15 11:41] NovemLinguae opened #206 "Duplicate comment bug"
Sometimes comments are duplicated by the AFCH script.

My wild guess would be a RegEx issue somewhere. Could probably write some test cases and then fix the RegEx.

Onwiki discussion: - https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation#Weird_duplication_of_comments

Examples:
- https://en.wikipedia.org/w/index.php?title=Draft:Eimear_McGeown&oldid=1060337876
- https://e

[2021-12-15 13:04] #179 closed

[2021-12-24 01:46] enterprisey commented on #193
alright gonna swap the instructions and everything to http now

[2021-12-24 12:43] siddharthvp commented on #193
no flag changes are needed (or at least I've never had to do any flag changes on Chrome/Firefox on Windows/Mac/Linux -- I've used them all at some point :D)

[2021-12-26 13:44] Ayush01729 commented on #115
Hello @enterprisey
I am Ayush, a web developer, and have a decent knowledge of the MERN stack.
I want to work on this issue, could you please assign this issue to me or any other issue to which I can contribute??

[2021-12-28 02:36] #203 closed

[2021-12-28 09:33] #110 closed

[2021-12-28 09:36] #194 closed

[2021-12-28 09:50] #167 closed

[2021-12-28 10:03] enterprisey commented on #201
As of 739b17d36e542117f260c13e98c3cbc331b3fcf5, we don't use HTTPS any more, so enjoy the better dev experience :)

[2021-12-28 10:03] #201 closed

[2021-12-28 10:03] enterprisey commented on #193
739b17d36e542117f260c13e98c3cbc331b3fcf5

[2021-12-28 10:03] #193 closed

[2021-12-28 11:16] enterprisey commented on #190
Indeed, the values don't seem to be used. That's remarkable.

For posterity, they used to be used for Persondata, but I removed that use in 9632e4fdd701178968867e9936e1d7eda77b1d8a and didn't think to remove them from the UI. That's a lot of wasted time spent filling those out... ah, better late than never.

[2021-12-28 11:17] #170 closed

[2022-01-10 04:55] paul-111 commented on #206
can i get assigned for this task?

[2022-01-12 08:43] enterprisey opened #208 "Integrate Novem Linguae's DraftCleaner script"
https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/Archive_48#Enhancement_request_for_AFCH_script

[2022-01-13 10:30] robertsky opened #209 "Deduplicate wikiproject banners"
Upon approving BLP pages, the WikiProject Biography banner is inserted instead of using existing banner. See https://en.wikipedia.org/w/index.php?title=Talk:Kwan_Shan_Mei&diff=1065393773&oldid=1065393765&diffmode=source

[2022-01-13 14:07] #200 closed

[2022-01-15 00:00] enterprisey commented on #208
LOL I missed the other issue, sorry about that.

Having it run automatically is a pretty interesting idea, worth having a WT:WPAFC discussion over. Maybe we could have a preference to do that. For myself, I'd support either a preference or always running it.

I haven't seen the code yet, so no comments on that front, but from a really, really quick scan it looks fine to me. Sometime after I clear

[2022-01-15 00:01] enterprisey opened #210 "Script to generate test case from bad diff"
Many times, bug reports arrive in the form of "the script made this edit when it should've made this edit". I think it'll be useful for developers if it's as simple as possible to turn that sort of report into a test case.

[2022-01-15 02:49] NovemLinguae commented on #208
Maybe it's best go with a preference, since there's always likely to be some bugs, and they could "bug" people. Sorry, that was a terrible pun :)

It should be quite easy to integrate. Just need to drop in 2 classes, then invoke. Just contact me when you're ready.

[2022-01-16 02:21] NovemLinguae commented on #44
https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation#AFCH_script_and_blacklist_filters

![image](https://user-images.githubusercontent.com/79697282/149644828-30691b80-04f1-4eba-a05e-7e7a09d1e81a.png)

[2022-01-16 04:21] siddharthvp commented on #44
The API returns the error code `spamblacklist` – we just have to handle that.

[2022-01-16 07:10] Prernajha2609 commented on #90
hello @enterprisey, I would like to contribute to this project, I will need a little guidance to start.

[2022-01-16 07:13] enterprisey commented on #90
@Prernajha2609 sure. Follow https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Articles_for_creation/Helper_script/Contributing/Developer_setup and let me know if you get stuck.

[2022-01-16 08:44] Prernajha2609 commented on #90
how should I start after setting up the environment?

[2022-01-16 10:52] NovemLinguae commented on #90
I imagine you'd want to pick an easy issue from the [list of issues](https://github.com/WPAFC/afch-rewrite/issues), write a patch, test it using https://test.wikipedia.org/, then [submit a pull request](https://www.google.com/search?q=how+to+submit+a+pull+request+on+github).

[2022-01-16 18:32] Prernajha2609 commented on #181
@enterprisey I want to work on this issue, can you elaborate on it a little.

[2022-01-16 19:47] Prernajha2609 commented on #90
Hey, can you suggest to me some beginner-friendly issues to work on?

On Sun, Jan 16, 2022 at 4:22 PM NovemLinguae ***@***.***>
wrote:

[2022-01-17 06:56] enterprisey commented on #181
ok, the relevant function is handleSubmit in submissions.js. In that function you want afchSubmission, which is the submission object, to use the current timestamp and ignore the timestamp that's previously set. You should only need to change one or two lines.

[2022-01-17 06:57] enterprisey commented on #181
I changed the draft in your userspace to show the issue: https://test.wikipedia.org/wiki/User:Prernajha2609/Testing_AFCH

[2022-01-17 12:13] Prernajha2609 commented on #181
function handleSubmit( data ) {
		var text = data.afchText,
			submitter = $.Deferred(),
			submitType = data.submitType;

		if ( submitType === 'other' ) {
			submitter.resolve( data.submitterName );
		} else if ( submitType === 'self' ) {
			submitter.resolve( AFCH.consts.user );
		} else if ( submitType === 'creator' ) {
			afchPage.getCreator().done( function ( user ) {
				submitter.resolve(

[2022-01-17 19:04] Ashish-100-tiwari commented on #160
@NovemLinguae is this issue is still open ? if yes , can I work on it .

[2022-01-17 19:17] Ashish-100-tiwari commented on #160
is this issue still open ? if yes , can I work on it

[2022-01-18 03:39] enterprisey commented on #181
yes, currently there is nothing related to the timestamp; you'll have to add some code that sets the timestamp

[2022-01-18 04:13] enterprisey commented on #160
Yes. You'll need to figure out where warnings get displayed, and add a new warning that checks the deletion log for the draft. It should be similar to the existing code. Honestly we should probably change the existing code to take a page name as a parameter, because otherwise we'd be copying and pasting the function and I don't think that's a good option.

[2022-01-18 07:23] Prernajha2609 commented on #181
I added some code but can't see any changes.

[2022-01-18 08:26] enterprisey commented on #181
Make sure your code is setting the right template parameter. I suspect setting `ts` in the same way that the existing code sets `u` should work.

I improved the logging display, by the way, so if you want that code, follow [the instructions here](https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Articles_for_creation/Helper_script/Contributing/Developer_setup) under "keep your copy of the code u

[2022-01-18 13:06] Prernajha2609 commented on #181
![Screenshot (340)](https://user-images.githubusercontent.com/77356824/149941340-9e0a8163-6d71-4589-80fd-76ebf379f5c4.png)
This is how it looks now.

[2022-01-18 13:45] NovemLinguae opened #212 "Able to reject submission without selecting reason"
https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation#AFCH

"I have found a small bug, if you pick the custom decline option then switch to rejecting, you can reject a submission with no explanation. (which makes me ask why I can't just add a custom reject option, but that's not the point of this post) – AssumeGoodWraith"

[2022-01-19 05:35] Amey1619 commented on #105
@enterprisey  ,Hi I want to contribute to this issue ,  can you assign this issue to me .

[2022-01-19 18:17] Prernajha2609 commented on #181
@enterprisey  what should I do next?

[2022-01-19 22:52] enterprisey commented on #181
you will first need to remove the second and third `{{AfC submission}}` lines in the current version of the draft. to put it into the "draft" status (gray box only). then try to submit the draft using the helper script (not by using the "Submit your draft for review!" button). in the browser console there will be some JSON showing the edit it would have made to the sandbox page. the JSON will cont

[2022-01-21 06:36] Prernajha2609 commented on #181
I am trying to make some changes but they are not visible when I refresh the page.

[2022-01-21 06:39] Prernajha2609 commented on #181
![Screenshot (345)](https://user-images.githubusercontent.com/77356824/150478897-3e0e399c-99e3-4fae-b999-4547845f31d9.png)

[2022-01-21 06:43] enterprisey commented on #181
You shouldn't have to make any edits to the draft page for this bug, but anyway, you need to click the "Publish Changes" button on the bottom to make an edit.

[2022-01-21 11:52] Prernajha2609 commented on #181
No, I am editing the code but it doesn't work.

[2022-01-21 19:48] shagungarg0 commented on #212
can you explain more about bug??

[2022-01-22 02:35] enterprisey commented on #181
I can't help without more details, including what you're trying to do, what you've tried, what the current error is (and if there's no error, what you expect to see and what you're getting instead), and what research you've done first. I found a couple of articles on how to ask questions that you may also want to refer to: [from ProPublica](https://www.propublica.org/nerds/how-to-ask-programming-q

[2022-01-22 12:17] shagungarg0 commented on #210
Sir i want to contribute here.. But i am stucked at setting up local environment.. Please can you guide me?

[2022-01-22 15:15] shagungarg0 commented on #209
Sir, i am new with open source..can you guide me??

[2022-01-23 02:38] enterprisey opened #213 "Server script fails when port already in use"
Originally reported elsewhere by @shagungarg0. Stack trace:

[code]

[2022-01-28 05:54] NovemLinguae opened #214 "Buggy output when declining a page with {{https://"
Trying to decline this version:

https://en.wikipedia.org/w/index.php?title=Draft:Jay_Daniel_(musician)&oldid=1068375316

Gives these errors:

https://en.wikipedia.org/w/index.php?title=Draft:Jay_Daniel_(musician)&diff=1068383317&oldid=1068375316&diffmode=source

![image](https://user-images.githubusercontent.com/79697282/151494683-c3dfa6d6-a58c-4af3-b33f-4030cee363aa.png)

[2022-01-28 06:30] NovemLinguae opened #215 "WikiProject not removed"
Accepting these versions of the draft and draft talk page:

https://en.wikipedia.org/w/index.php?title=Macropis_patellata&oldid=1068180484
https://en.wikipedia.org/w/index.php?title=Talk:Macropis_patellata&oldid=1068180483

After I clicked accept, the accept form popped up to change the WikiProjects. I removed biology and added insects. I clicked accept again.

The talk page erroneously contains A

[2022-01-31 06:04] NovemLinguae opened #216 "When a comment is typed then cleared, consider hiding the preview box"
Note how it still says test. I think a better behavior would be to re-hide it until something new is typed.

![image](https://user-images.githubusercontent.com/79697282/151746176-9dfc807d-f377-44ef-bf2d-ab8e990d1071.png)

[2022-02-04 15:53] robertsky opened #217 "Accounting for page mover right"
Currently if there is an existing redirect of the same title as the draft in the mainspace, the script prevents a move. Thus a reviewer calls in an admin to G6 the redirect. However, there are some reviewers with page mover right and they can help by doing a round robin move.

If it is possible, extend the script to check if the reviewer has page mover right, and execute a round robin page move (p

[2022-02-15 14:27] NovemLinguae opened #220 "Automatically add {{Uncategorized}} and {{Improve categories}}"
Definitely: automatically add {{Uncategorized}} if in 0 categories. I think it is safe to assume that every article can be placed in at least 1 category.

Maybe: automatically add {{Improve categories}} if in 1 category. If you agree that it is safe to assume that most articles can be placed in 2 or more categories. Alternatively, could add a check box for this to the accept form.

Where do these

[2022-02-17 17:13] #216 closed

[2022-02-18 16:56] Ankit-Gupta18 commented on #140
Hey @enterprisey , if no one is working on this issue. Can I work on this?

[2022-02-26 22:08] primefac commented on #202
Can we make this a high(er) priority? It's seriously messing with the ability to review declined drafts.

[2022-02-28 08:35] #190 closed

[2022-03-12 08:25] NovemLinguae opened #222 "Color code AFC comments depending on decline or regular comment"
Requested by DoubleGrazing at https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation#AFCH_Tool_Wish_List

Suggests color coding the exclamation mark of the {{AfC comment}} template depending on whether it's a decline or a regular comment.

![image](https://user-images.githubusercontent.com/79697282/158010307-2012d754-344e-4a20-a46c-221545061edd.png)

[2022-03-12 08:35] primefac commented on #222
I'll have to think about it more, but I feel like this would be best/easiest achieved by adding in an #if statement to the template itself, and then have the script trigger that #if for comments placed as a result of a decline.

[2022-03-12 09:02] robertsky commented on #128
if implemented, when copying over to the talk page, the Afc comment template should be subst as well. No point leaving them encapsulated when it is in the talk page for historical purposes.

[2022-03-12 09:16] primefac commented on #128
Agreed with the subst. This might be an obvious statement, but they should probably be in a new section as well, with the header being something like "Pre-accept reviewer comments" or something similar, to indicate their provenance.

[2022-03-17 15:34] CurbSafeCharmer commented on #92
I support this suggestion. It could also appear on the reject screen, perhaps?

[2022-03-17 16:02] primefac commented on #92
I'm on the fence, but my initial thought is that it would over-promote G11 nominations. I do realise that drafts are not G11-proof, but they _are_ allowed to be more "blatantly promotional" than what's in the article space, since they're a work in progress.

[2022-03-29 04:33] siddharthvp commented on #153
What I would suggest is to check for new edits being made to the page every 5 or 10 seconds. If new changes are detected, show a notice saying "**This draft has been recently edited N times by USERNAME. Reload to see the latest changes**". Ideally, any half-written comment in the text box should be preserved across the reload.

The API call to do this is very cheap since we just have to fetch the

[2022-03-29 04:33] #116 closed

[2022-04-19 22:07] #103 closed

[2022-04-22 03:28] kzhovn commented on #209
Looks like a partial duplicate of  #129.

[2022-04-22 04:05] kzhovn commented on #92
I've wanted this for a while and would be up for taking this issue - could it be possible to add a _reject_ reason that's essentially G11? Something like "This submission [[WP:PROMOTION|appears to be an advertisement]] rather than an entry in an encyclopedia." would be about as brief as the other reject messages.

The current decline message suggests that the author should improve the draft, which

[2022-04-22 04:14] NovemLinguae commented on #92
When a user picks cv (copyvio) as the decline or reject reason, it adds a little checkbox that says "Nominate the submission for speedy deletion". Could probably search for that in the repository and just tweak the existing code a bit, so that it 1) also shows up for decline reason adv (advertising), and 2) places {{Db-g11}} instead of {{Db-g12}}

Thinking more broadly, could add this feature to d

[2022-04-22 04:18] kzhovn commented on #92
Yeah, the modification from G11 seems straightforward (famous last words), I was just wondering if it might make sense to instead add a separate "reject as adv" option and add the "tag as G11" textbox there.

It looks like a db-g3 and db-g10 issue already exists #91.

[2022-04-22 06:45] kzhovn opened #227 "Userspace log"
Allow the user to set a preference to create a userspace log, like Twinkle's CSD or PROD log, for accept/decline/rejects.

A minimal version might look something like

`# [[Draft title]] by [[User:DraftSubmiter]] {accept/decline/rejected} on {{subst:TIMESTAMP}}\n`

[2022-04-22 06:47] NovemLinguae commented on #227
Related #134

[2022-04-22 06:53] kzhovn commented on #227
One way to deal with volume might be to have an option to create monthly log pages instead of one large one.

[2022-04-22 09:37] primefac commented on #92
I have this vague recollection that we decided a while ago that defaulting to G11 as an option for declines or rejects was not something we wanted to do, but I haven't yet searched through the archives to find it.

[2022-04-22 09:53] primefac commented on #92
Well... ignore my last, the most recent discussion from 2020 seems to indicate this would be a good idea... https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation/Archive_41#ACFH_promotion%2Fadvert_needs_G11_option

[2022-04-25 04:59] kzhovn commented on #134
I'm partway through implementing this (for some reason it respects preferences fine when I set the default to on but not when off). I've tentatively set the message to

Thoughts? I'm considering adding a the reject/decline reason but I don't want to get too verbose.

[2022-04-25 07:27] primefac commented on #134
If you're going to leave the decline reason, use the code itself (e.g. `cv` or `adv`). Otherwise, I like the short/concise prose you've given. However, I'd make your suffix "ed" instead of "ing" since it's a log and therefore in the past tense.

[2022-04-25 22:21] kzhovn commented on #134
New message for decline only (not reject):

[2022-04-25 22:45] #227 closed

[2022-05-13 11:31] NovemLinguae commented on #90
Mentioned today by Mathglot at https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation#Bug_in_AFCH_for_renamed_users

[2022-05-13 11:34] primefac commented on #90
Is #99 a duplicate of this issue?

[2022-05-29 18:15] NovemLinguae opened #233 "Display warning if user has COI/paid templates on their userpage/user talk"
Suggested by KylieTastic at https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation#Paid_contributions

Could detect templates rather than text, which would have no false positives.

Ideas of things to detect
- User page
  - {{Connected contributor}}
  - {{Connected contributor (paid)}}
  - {{UserboxCOI}}
- User talk page
  - same as above, but also...
  - {{uw-coi}} - usual

[2022-05-30 06:59] NovemLinguae opened #234 "Heading at bottom of article incorrectly deleted"
Reported by DoubleGrazing at https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation#Rejection_removed_content

Diff: https://en.wikipedia.org/w/index.php?title=User:Abhaysen830/sandbox&diff=next&oldid=1090566900

Does AFC have code that tries to delete headings at the bottom of an article that begin with the draft name? I know the AFC submit wizard or some other workflow ap

[2022-05-31 10:10] primefac commented on #234
This is a GIGO issue; the script removes extraneous headings from the bottom of articles, and the fact that someone put their entire draft _in_ the header is their fault, not ours. Not that it is strictly the reviewer's fault for not doing so, but they should have removed the header code before rejecting the draft.

[2022-06-21 01:15] MLoasem opened #235 "https://www.facebook.com/groups/100062029562758/?ref=share"

[2022-07-03 21:57] NovemLinguae opened #237 "Uncaught DOMException: The quota has been exceeded."
When Star Mississippi uses AFCH, when declining drafts, he reports that he is often getting an `Uncaught DOMException: The quota has been exceeded.` error. The stack trace points to this line of code:

https://github.com/WPAFC/afch-rewrite/blob/826153d3f1aa83bea5a9839fddfc7f3117143a1a/src/modules/submissions.js#L2405

More info: https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for

[2022-07-03 22:03] NovemLinguae commented on #235
@enterprisey This is spam. Can delete :)

[2022-07-12 08:31] NovemLinguae opened #238 "API error: toomanyvalues"
Reported by Bilorv at https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation#Draft:Jason_Moore_(writer)

Steps to reproduce
* Create a draft
* Submit the draft
* Create a talk page with 51 templates
* Make sure you're using a non-admin, non-bot account. Those accounts may have a higher API limit.
* Try to accept the draft
* Will get no errors in console, but the accept butt

[2022-07-16 20:19] NovemLinguae opened #240 "Button to add {{AfC submission|T}} to pages in draftspace that don't have it yet"
Should probably add it as an option to the "Submit" dropdown, perhaps named "Unsubmitted". Would place `{{AfC submission|T}}`, which is the unsubmitted state.

<img width="1046" alt="image" src="https://user-images.githubusercontent.com/79697282/179370760-d107a933-d01e-4c9b-9287-0bee6543612d.png">

<img width="1045" alt="image" src="https://user-images.githubusercontent.com/79697282/179370766-2932

[2022-07-16 20:58] primefac commented on #240
"Should probably add it as an option " - why?

[2022-07-16 20:59] NovemLinguae commented on #240
My use case was today there was someone in Discord that made a draft without an `{{AfC submission|T}}` template. I want to be able to easily add this to their draft without submitting it before they are ready. `{{AfC submission|T}}` is hard to memorize.

[2022-07-16 21:00] primefac commented on #240
{{AFC submission/draft}} is pretty easy to remember...

[2022-07-16 21:00] primefac commented on #240
(forgive the snark, it is late and Scotland just lost to Argentina)

[2022-07-16 21:02] primefac commented on #240
If you think this is worthwhile, feel free, but please don't add in a timestamp, because when it *does* get submitted, it is incredibly likely to immediately throw the page into Very Old

[2022-07-27 05:06] siddharthvp commented on #237
`AFCH.userData.set` sets into both the localStorage and API useroptions. As it's a DOMException, clearly it has to do with the former. The localStorage can be full due to its use by other running javascripts.

The solution would be replace the raw localStorage calls with `mw.storage` wrapper that swallows any exceptions. That being said, I don't see much need for localStorage being used at all, si

[2022-07-27 05:10] #238 closed

[2022-07-27 06:32] #235 closed

[2022-07-27 06:42] siddharthvp commented on #143
HTTPS server was replaced by an HTTP server in #207, so this can be closed now

[2022-07-27 06:42] #143 closed

[2022-08-11 20:19] NovemLinguae opened #243 "Handle accepting over redirect with non-trivial history"
Suggested by Naraht at https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation#db-afc-move_info_in_template

AFCH should detect if a redirect with more than one revision is in the way of an accept. If so, it should ask the reviewer if they want to place a {{Db-afc-move}} tag on the mainspace redirect page. Current behavior is to block acceptance completely by disabling butto

[2022-09-10 09:10] siddharthvp opened #244 "Move repo to wikimedia-gadgets organisation?"
Since the parent org (WPAFC) doesn't have any other active repos (and hasn't had any for years), I wonder if we should move this over to wikimedia-gadgets org? There it will join twinkle, xfdcloser, moremenu and other actively maintained projects.

(All current users with merge access will continue to have access, even if they are not a member of wikimedia-gadgets.)

[2022-09-10 13:32] #134 closed

[2022-09-13 19:55] enterprisey commented on #244
works for me, might as well leave it for a bit (week?) for any potential objections

[2022-09-15 06:19] NovemLinguae commented on #130
An admin reports that the recent patch for this didn't work. This may need further tweaking.

https://en.wikipedia.org/wiki/Wikipedia_talk:WikiProject_Articles_for_creation#participant_list

[2022-10-01 17:15] NovemLinguae opened #245 "Regex catastrophic backtracking when h2 followed by 100 spaces"
Steps to reproduce
* Create Draft:Test somewhere
* Edit the page so that this is the wikitext (thanks KylieTastic for this)
[code]
* Load the page, load AFCH
* Open DevTools real quick, before the page gets too busy
* Hit the pause and play buttons a few times to see what spot the code is stuck in. You'll find it's stuck here:
https://github.com/WPAFC/afch-rewrite/blob/5ba43d26ffa1cf4177119619c0e8

[2022-10-01 17:48] fee1-dead commented on #245
I think this one needs an iterative approach to replace the regex by repeatedly stripping ending `[[:?Category:.+?]]` and whitespace from the text and see if the result becomes a section header. `"==.+?=="`. That will improve the efficiency here.

[2022-10-04 17:21] siddharthvp commented on #244
@enterprisey it's been a week :)

[2022-10-04 17:23] siddharthvp commented on #245
Also, we should set up CodeQL that detects such security issues.

[2022-10-05 05:03] enterprisey commented on #244
sure has been

[2022-10-05 05:04] enterprisey commented on #244
Done, I think. Let me know if anything else needs clicking.

[2022-10-05 06:11] NovemLinguae commented on #244
I think @IngenuityWP lost access. Is there a way to add them as a collaborator? May need to add all the old WPAFC members as collaborators as well.

[2022-10-05 07:07] siddharthvp commented on #244
Hmm, when twinkle was migrated here, all existing collaborators were automatically grandfathered. That doesn't seem to have happened in this case. Anyway, I see Ingenuity has already been invited as collaborator.

[2022-10-05 07:09] NovemLinguae commented on #244
Perhaps collaborators get moved over but members don't. I think AFCH mostly used members. So it may be a good idea to peek at the member list and invite those folks as collaborators. Hope this helps.

[2022-10-05 07:52] siddharthvp commented on #244
Yeah that must be it. I've sent invites to everyone on WPAFC member list who isn't a member here, though they're all inactive so not sure how many responses we get.

[2022-10-07 18:46] #244 closed

[2022-10-07 18:48] siddharthvp commented on #130
Looks to have worked alright after caches expired.

[2022-10-07 18:48] #130 closed

[2022-10-28 21:01] NovemLinguae commented on #243
This is a perennial issue at the WT:AFC talk page. The frequency that this question gets asked is like 5+ times a year.

We should prioritize building automatic {{Db-afc-move}} tagging of redirects into AFC. Or at least a yes/no prompt to the reviewer asking if they want to place the tag.

-OR-

Instead of using the {{Db-afc-move}} tag, we could ask the reviewer if they want to make an entry at WP

[2022-10-29 07:38] primefac commented on #243
I disagree rather strongly with the second proposal, as it was the reason why I created the db- template in the first place - if we want a reviewer to accept it, using the script, and doing everything "right first time", then the reviewer should be the one moving the page.

That being said we _really_ need to encourage people waiting for the redirect to be deleted to mark the page as "under review

[2022-10-29 18:48] NovemLinguae commented on #243
Sounds good. Let's move forward with a patch that detects a redirect with non-trivial history is in the way, and asks the user yes/no if they want to place {{Db-afc-move}}

We could have the script also automatically mark the page as under review when placing {{Db-afc-move}}

[2022-11-11 04:30] siddharthvp opened #249 "Use AfC-submit-wizard for handling submissions?"
AFCH has a submit functionality which submits directly by prepending the submit template on the page. Instead, I suggest AFCH redirect to the [AfC-submit-wizard](https://en.wikipedia.org/w/index.php?title=Wikipedia:Articles_for_creation/Submitting&withJS=MediaWiki:AFC-submit-wizard.js) instead.

Benefits:
* drafts get categorized helping some reviewers find what they're looking for. Nevertheless,

[2022-11-11 08:20] primefac commented on #249
I can see where you're coming from, but if I'm going to resubmit a draft I don't want to have to go to another page to fill out a form; I just want to click a few buttons. Yes, I realise I'm lazy, but 99% of the time when I'm resubmitting a draft it is because a previous reviewer was wrong but it is not an easy matter of just undoing their edit (so a fresh submit is more appropriate).

I think thi

[2022-11-16 20:16] NovemLinguae opened #250 "Custom reason for rejects"
Requested by AngusWOOF off-wiki

When declining, you can choose a custom reason

<img width="751" alt="image" src="https://user-images.githubusercontent.com/79697282/202284891-655f7445-e0ea-49ef-8aa9-b9a375719e5a.png">

This is a feature request to also allow this for rejecting

[2022-11-16 20:51] primefac commented on #250
I know I've said this on a few recent feature requests, but I think this would be good to discuss on-wiki; do we need custom reasons for rejection, or just more/"better" reasons for rejection?

[2022-11-21 06:02] enterprisey commented on #250
Concur, FWIW, that it would be nice to have an onwiki discussion. The existence of the request means that there are some potential use-cases for this feature, but I'd rather those use-cases be discussed where WPAFC members can comment on them, to verify the extent to which we need this. I suspect there's potential for negative impact on the submitter experience here

[2022-11-28 22:07] #250 closed, assigned to nobody